{# upload data form : upload-form.js #}
{% if upload_enabled %}
	<div class="modal" id="modal_data_upload" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Ajouter des données</h4>
				</div>
				<div class="modal-body">
					<div class="upload-form-wrapper">Déposer un fichier de données</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
{% endif %}

<div class="modal" id="modal_create" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Créer un rapport</h4>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="elocus_select_referentiel" class="col-sm-2 control-label">Référentiel</label>
						<div class="col-sm-10">
							<select name="ref" id="elocus_select_referentiel" class="form-control">
							</select>
						</div>
					</div>
					<div class="form-group" id="create_title_field">
						<label for="titre_rapport" class="col-sm-2 control-label">Titre</label>
						<div class="col-sm-10">
							<input name="titre" id="titre_rapport" class="form-control" type="text"/>
						</div>
					</div>
					<hr/>

					<div id="create_form_parameters">
						<!-- create parameters -->
					</div>

					<div id="create_form_parameters_error" class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<span class="help-block">Sélectionnez au moins un territoire</span>
						</div>
					</div>
					<div id="create_form_parameters_loading">
						<div class="row">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="alert alert-info" role="alert">
									<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
									Chargement de la liste des  territoires
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				{% block modal-footer %}{% endblock %}
				<button type="button" class="btn btn-default" id="modal_create_ok">OK</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal" id="modal_create_processing" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Créer un rapport</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-info" role="alert">
					<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
					Génération du rapport en cours, cela peut prendre quelques instants
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="modal_update_processing" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Actualisation des données</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-info" role="alert">
					<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
					Actualisation du rapport en cours, cela peut prendre quelques instants
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal" id="modal_export_processing" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Export du rapport</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-info" role="alert">
					<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
					Export du rapport en cours, cela peut prendre quelques instants
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="modal_error" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title errortitle"></h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger" role="alert">
					<div class="msg">
						<pre class="errormessage"></pre>
					</div>
				</div>
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>


<div class="modal" id="modal_notif" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title notiftitle"></h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-success" role="alert">
					<div class="msg">
						<p class="notifmessage"></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>



<div class="modal" id="modal_share" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Partager</h4>
			</div>
			<div class="modal-body">
				<div class="form">
					<div class="form-group">
						<label for="ref_url" class="control-label">Copiez l'URL ci dessous pour acceder a la <a href="/elocus/report/?release=/releases/{{ current }}" id="elocus_share_link">version publique du rapport</a></label>
						<input name="ref_url" id="elocus_share_url" class="form-control" value="http://kolekti.elocus.eu/elocus/report/?release=/releases/{{ current }}" readonly="yes"/>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			</div><!-- /.modal-footer -->
		</div>
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
