{% extends "../page_elocus.html" %}

{% load ostags %}
{% load static %}

{% block extracss %} {{ libs.css|safe }} {% endblock %} 

{% block extrascripts %} {{ libs.scripts|safe }}
    <script src="{% static "js/elocus-report.js" %}"></script>
{% endblock %}

{% block button-collapse-menu %}
    <button id="closeNavBtn" type="button" class="btn btn-default navbar-btn hidden-xs" title="Cacher le menu">
		<i class="fa fa-times"></i>
	</button>
    <button id="openNavBtn" type="button" class="btn btn-default navbar-btn hidden-xs" title="Afficher le menu">
		<i class="fa fa-reorder"></i>
	</button>
{% endblock %} 

{% block page-title %}{{ title }}{% endblock %}

{% block page-content %}
<div id="reportContent" class="container-fluid">

    <h1>{{ reportname }}
        {% comment %} <small>
            {% if not public %}
                {% if shared %}
                    <i class="fa fa-users" data-toggle="tooltip" data-placement="top" title="partagé"></i>
                {% else %}
                    <i class="fa fa-user" data-toggle="tooltip" data-placement="top" title="non partagé"></i>
                {% endif %}
            {% endif %}
        </small> {% endcomment %}
    </h1>
    <div class="mgb">
        {% include "report/report_actions.html" %}
    </div>
    {% if ariane %}
        <ul class="breadcrumb">
            {% for ariane_elt in ariane %}
                {% if forloop.first %}
                    <li class="first"><a href="{{ ariane_elt.url }}">{{ ariane_elt.label }}</a></li>
                {% elif forloop.last %}
                    <li class="last"><a class="ariane_active">{{ ariane_elt.label }}</a></li>
                {% else %}
                <li><a href="{{ ariane_elt.url }}">{{ ariane_elt.label }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if public or project %}
        <div class="visible-xs-block">
            <div class="sidenav xs-menu">
                {% block sidebar %}
                    {# remplace le menu ci-dessus #}
                    {% comment %} <div class="panel panel-default">
                        <div class="panel-body">
                            {% if not public %}
                                {% if shared %}
                                    <div class="btn-group" style="width:100%;">
                                        <p>
                                            <i class="fa fa-users"></i> partagé&nbsp;
                                        </p>
                                    </div>
                                {% else %}
                                    <div class="mgb">
                                        <p style="margin:0">
                                            <i class="fa fa-user"></i> non partagé&nbsp;
                                            <!-- <span class="btn-group">
                                                <a href="#" class="btn btn-default btn-sm elocus-action-report-share">
                                                    <i class="fa fa-users"></i> Partager&nbsp;
                                                </a>
                                            </span> -->
                                        </p>
                                    </div>
                                {% endif %}
                            {% endif %}

                            {% include "report_actions.html" %}

                        </div><!-- /.panel-body -->
                    </div> {% endcomment %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <!-- <h3 class="panel-title"><a href="/"><strong>{{ territoire.project.description }}</strong></a></h3> -->
                            <h4>
                                <a {% if public %} href="{% url 'elocusreportpublic' hashid=hashid %}" {% else %} href="{% url 'elocusreport' project=project report=report %}" {% endif %}>
                                        {{ reportname }}
                                        <!-- rajouter ici nom de sous rapport -->
                                    </a>
                            </h4>
                        </div>
                        <div class="panel-footer">
                            {{ menu|safe }}
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endif %}
    {% block content %}
        <div class="report-page{% if public %} public{% endif %}" data-report="{{ report }}" data-project="{{ project }}">
            {{ content|safe}}
        </div>
        {% include "report/modal_create.html" %}
        {% include "report/user_topic_chooser.html" %} 
    {% endblock %}
    
</div>
{% endblock %}