{% if not public %}
    <div class="btn-group">
        <a title="Actualiser les données" href="#" class="btn btn-default btn-sm elocus-action-update-data">
            <i class="fa fa-lg fa-refresh"></i>
        </a>
    </div>

    
    <div class="btn-group">
        <a title="Partager le rapport" href="#" class="btn btn-default btn-sm elocus-action-report-share 
            {% if shared %}disabled{% endif %}
        "><i class="fa fa-lg fa-users"></i></a>
    </div>
    
{% endif %}
<!-- <div class="btn-group">
    <a title="Export Word"
    {% if public %}
        href="{% url 'elocusreportpublicodt' hashid=hashid %}" class="btn btn-default btn-sm"
    {% else %}
        href="#" class="btn btn-default btn-sm elocus-action-dl-word"
    {% endif %}
    >
        <i class="fa fa-lg fa-file-word-o"></i>
    </a>
</div> -->

<div class="dropdown export-to-file" style="display:inline-block">
    <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="exportToFile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="fa fa-lg fa-file-o"></i>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="exportToFile">
        <li>
            <a title="Export Word" {% if public %} href="{% url 'elocusreportpublicdoc' hashid=hashid %}" class="btn btn-default btn-sm" {% else %} href="#" class="btn btn-default btn-sm elocus-action-dl-word" {% endif %}>
                <i class="fa fa-lg fa-file-word-o"></i> Export Word
            </a>
        </li>
        <li>
            <a title="Export Pdf" {% if public %} href="{% url 'elocusreportpublicpdf' hashid=hashid %}" class="btn btn-default btn-sm" {% else %} href="#" class="btn btn-default btn-sm elocus-action-dl-pdf" {% endif %}>
                <i class="fa fa-lg fa-file-pdf-o"></i> Export Pdf
            </a>
        </li>
        <li>
            <a title="Export Odt" {% if public %} href="{% url 'elocusreportpublicodt' hashid=hashid %}" class="btn btn-default btn-sm" {% else %} href="#" class="btn btn-default btn-sm elocus-action-dl-odt" {% endif %}>
                <i class="fa fa-lg fa-file-text-o"></i> Export Odt
            </a>
        </li>
    </ul>
</div>

{% if not public %}
    <div class="btn-group">
        <a title="Obtenir lien public" href="#" class="btn btn-default btn-sm elocus-action-dl-html">
            <i class="fa fa-lg fa-external-link-square"></i>
        </a>
    </div>

    {% if not shared %}
        <div class="btn-group">
            <a title="Supprimer" href="#" class="btn btn-default btn-sm elocus-action-report-delete">
                <i class="fa fa-lg fa-trash"></i>
            </a>
        </div>
    {% endif %}
{% endif %}
    