<div id="user_topic_chooser" style="display:none">
    <div class="col-sm-12 col-lg-6 widget" >
        <div class="topic">
            <div class="panel panel-default title">
<!--
                <div class="panel-heading">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="topic-title-input">Titre :&nbsp;</label>
                            <input type="text" class="form-control" id="topic-title-input" placeholder="{% if topicTitle %}{% else %}Titre optionnel{% endif %}">
                        </div>
                        <button type="submit" class="btn btn-default btn-primary" title="Valider">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </form>

                </div>
-->
                <div class="panel-body">
                    <div class="row components">
                        <div class="col-sm-12 col-lg-12" style="height:100%">
                            <div class="component component-topic-chooser" style="height:100%">
                                <div class="drop-zone text-center" style="width:100%;height:80%;">
                                    <h3>Zone de téléversement</h3>
                                    <p class="mgb mgt text-center">
                                        <i class="fa fa-cloud-download fa-5x" aria-hidden="true" style="color:#CCC"></i>
                                    </p>
                                    <p class="mgb mgt text-center">
                                        Vous pouvez déposer ici {# un fichier pdf, #}  une image. {#, un lien vidéo #}
                                    </p>
                                    
                                    <form class="form-inline upload-file">
                                        <div class="form-group">
                                            <input type="file" class="btn btn-xs btn-default" hidden>
                                        </div>
                                    </form>
                                    
                                </div>
                                <div>
                                    <p style="text-align:center;">
                                        <button title="Saisir texte" class="btn btn-md btn-default add-topic-text">
                                            Ajouter un texte <i class="fa fa-indent" aria-hidden="true"></i>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="panel-footer">
                    <p class="text-right">
                        <span class="btn-group hide-topicdetails">
                            <button title="A la une" class="btn btn-xs btn-default  elocus-action-star btn-default">
                                <i class="fa fa-star-o"></i>
                            </button>
                            <button title="Masquer" class="btn btn-xs elocus-action-hide btn-default">
                                <i class="fa fa-eye-slash"></i>
                                <i class="fa fa-eye"></i>
                            </button>
                            <button title="Insérer..." class="btn btn-xs elocus-action-insert-topic btn-default">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </p>
                </div> -->
            </div>
        </div>
    </div>
</div>
