/* ==========================================
Surcharge pour le thème (éléments relatifs aux pages d'home-report)
========================================== */
// test
@import "colors.less";


// MENU //


.navbar-elocus {
    ul.navbar-nav {
        li a {
            color: @blanc;
            &:hover, &:focus {
                color: @blanc;
                background: @hoverLogo;
            }
        }
    }
    .dropdown {
        ul.dropdown-menu li a{

                color: @bleusocietal;

            i {
                color: @bleusocietal;
            }
        }
    }
    .btn {
        background-color: @bleusocietal;
        color: @blanc !important;
    }
    .dropdown a .caret {
        color: @blanc;
    }
}

.navbar-elocus .dropdown a.dropdown-toggle.active{
color:@blanc;
}

.navbar-elocus .navbar-nav li.notifications-trigger.active a{
   color:@blanc; 
}

// PANEL //
.sidenav .panel{
    margin-top: 47px;
}
.sidebar .panel-body{
    border:solid 1px;
    border-color :#CCCCCC;
    margin-top: 20px;
}
.panel-title{
    color: @bleusocietal;
}
.panel-body .btn-group p{
    color: @hoverLogo;

}



// SIDEBAR //

.sidenav .panel .panel-body .btn-group a i{
    color:@bleusocietal;
}
.sidenav .panel .panel-body .dropdown button{
    color:@bleusocietal; 
}
#exportToFile{
    color: @hoverLogo;
}
.btn-default:hover{
    color: @hoverLogo;
}
.mgb p{
    color: @hoverLogo
}
.export-to-file .dropdown-menu li a{
color: @hoverLogo !important;
}
// FOOTER //
    
footer{
        background-color:@bleusocietal !important;
    
 .powered_eLocus{
    color:@blanc !important;
}
}

// Classe pour désaturer//
.desaturate{
    filter: grayscale(40%);
}



// SUPPRESSION DU FIL D'ARIANE //
.ariane_active{
    color : @couleurpanel;
    text-decoration: underline ;
}
.page-content div.page-header .breadcrumb{
    display: none;
}
.page-header{
    padding-bottom: 0;
}
.sidenav{
    padding-top: 70px;
}

breadcrumb{
    color: @bleusocietal;

}


li.last::before{
   text-decoration: none !important ;
}


.clearfix{
    margin-top: 1em;
}

