{% extends "page_elocus.html" %}

{% load ostags %}

{% block page-title %}
	{{ title }}
{% endblock %}



{% block sidebar %}
	{# ce block n'est chargé que si on a un release, ce qui n'est pas le cas pour la page d'home-report #}
{% endblock %}


{% block page-content %}
	<div id="staticPageContainer" class="container">
		<div class="home-general">
			<div class="row">
				<div class="teasers-project teasers">
					{% for project in projects %}
					<div class="col-md-6">
						<div class="teaser-project teaser home-general panel panel-default bg-custom-color-{{ forloop.counter }}">
							<div class="panel-heading">
								<div class="huge title">
									{{ project.title }}
								</div>
							</div>
							<div class="panel-body">
								<ul>
									{% for report in project.reports %}
									<li>
										{% if shared %}
										<i title="partagé" class="fa fa-users"></i>&nbsp;&nbsp;
										{% else %}
										<i title="non partagé" class="fa fa-user"></i>&nbsp;&nbsp;
										{% endif %}
										<a href="{{ report.url }}">{{ report.title }}</a>
									</li>
									{% endfor %}
								</ul>
							</div>
							<div class="panel-footer">
								<a href="{% url 'elocusreportcreate' project=project.id %}">Nouveau rapport...</a>
								<div class="pull-right">
									{% if upload_enabled %}
										<a href="#" data-toggle="modal" data-target="#modal_data_upload">Ajouter des données</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</div>

	{% include "report/modal_create.html" %}
	{% include "report/user_topic_chooser.html" %}

{% endblock %}

{% block extrascripts %}
{{ libs.scripts|safe }}
<script src="/static/js/elocus-report.js"></script>
{% if report_create %}
<script type="text/javascript">
  $(function(){
  $('#modal_create').modal();
  })
  </script>

{% endif %}
{% endblock %}
