{% load static %}
{% load notification_tags %}
<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block page-title %}{% endblock %}</title>
	{% if theme %}
		{% with 'img/'|add:theme|add:'/favicons/favicon.ico' as urltheme %}
		<link rel="icon" href="{% static urltheme %}" />
		{% endwith %}
	{% else %}
		<link rel="icon" href="{% static "img/elocus/favicons/favicon.ico" %}">
	{% endif %}

	<!-- Bootstrap -->
	{% if DEBUG %} {# paramètre KOLEKTI_DEBUG dans /media/donnees/web/elocus/elocus-compose/.env #}
		{% with use_bsless=False %}
			<!-- Bootstrap -->
			{% if use_bsless %}
				<link rel="stylesheet/less" type="text/css" href="{% static "bootstrap/less/bootstrap.less" %}" />
			{% else %}
				<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
			{% endif %}
			<!-- <div>{{ use_bsless }}</div> -->
		{% endwith %}
		<!-- Custom styles for this template -->
		{% if theme %}
			<link rel="stylesheet/less" data-env="development" data-dump-line-numbers="all" data-global-vars='{ "myvar": "#ddffee", "theme": "\"{{ theme }}\"" }'
	 type="text/css" href="{% static "less/default.less" %}" />
		{% else %}
			<link rel="stylesheet/less" data-env="development" data-dump-line-numbers="all" data-global-vars='{ "myvar": "#ddffee", "theme": "\"elocus\"" }'
	 type="text/css" href="{% static "less/default.less" %}" />
		{% endif %}
		{% if theme %}
			{% with 'less/'|add:theme|add:'/theme.less' as urltheme %}
				<link rel="stylesheet/less" data-env="development" data-dump-line-numbers="all" data-global-vars='{ "myvar": "#ddffee", "theme": "\"{{ theme }}\"" }'
	 type="text/css" href="{% static urltheme %}" />
			{% endwith %}
		{% endif %}
		{% block extraless %}{% endblock %}
		<script type="text/javascript">
			less = {
				env: "development",
				dumpLineNumbers: "mediaquery"
				//dumpLineNumbers: "comments"
			};
		</script>
	{% else %}
		<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "css/default.css" %}" rel="stylesheet">
		{% if theme %}
			<link href="{% static "css/theme.css" %}" rel="stylesheet">
		{% endif %}
	{% endif %}

	<link href="{% static "css/elocus-topics.css" %}" rel="stylesheet">

	<!-- Font Awesome -->
	<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
	
	<!-- Google fonts -->
	{#	<link href="https://fonts.googleapis.com/css?family=Cabin|Cabin+Condensed|Cabin+Sketch|Gudea:400,400i,700|Lato|PT+Sans|Quattrocento|Quattrocento+Sans|Roboto|Ubuntu" rel="stylesheet"> #}
	<link href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed" rel="stylesheet">
	{% block extracss %}{% endblock %}
	
	{% if DEBUG %}
		<script type="text/javascript" src="{% static "js/less.min.js" %}"></script>
	{% endif %}
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	{% block extrahead %}
		{% if user.is_authenticated and request %}
			{% include_notify_js_variables %}
		{% endif %}
	{% endblock %}

</head>

<body role="document" data-project="{{ project }}" data-report="{{ report }}" data-theme="{{ theme }}">

	{% comment %} {% if report or public %}
	<div class="hidden-xs">
		<div id="mySidenav" class="sidenav">
			<div class="sidebar">
				{% block sidebar %}{% endblock %}
			</div>
		</div>
	</div>
	{% endif %} {% endcomment %}

	<!-- Fixed navbar -->
	<nav class="navbar navbar-elocus navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<!-- {% block button-collapse-menu %}{% endblock %} -->
				<button class="navbar-toggle collapsed btn btn-default navbar-btn" type="button" id="hide-menu" data-toggle="collapse"
				 data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<a href="javascript:void(0);" data-action="toggleMenu" title="Afficher/Cacher le menu"><i class="fa fa-reorder"></i></a>
				</button>
				{% if theme %}
					{% with 'img/'|add:theme|add:'/logo.png' as urltheme %}
						<a class="navbar-brand page-scroll" href="/"><img height="40px" src="{% static urltheme %}" alt="logo {{theme}}"></a>
					{% endwith %}
				{% else %}
					<a class="navbar-brand page-scroll" href="/"><img height="40px" src="{% static "img/elocus/logo.png" %}" alt="eLocus"></a>
				{% endif %}
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<!-- <li class="active"><a href="/">Accueil</a></li>-->
					{% if report %}

						{% comment %} <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rapports
								&nbsp;<span class="caret"></span></a>
							<ul class="dropdown-menu">
								{% for report in reports %}
								<li class="{% if report.name == current %} active{% endif %}">
									<a href="{% url 'elocusreport' project=project report=report.dir %}">{{report.title}}</a>
								</li>
								{% endfor %}
								{% if reports %}
								<li role="separator" class="divider"></li>
								{% endif %}
								<li>
									<a href="#" class="elocus-action-create-report" data-toggle="modal" data-target="#modal_create">Créer
										rapport... </a>
								</li>

							</ul>
						</li> {% endcomment %}

						{% if not public %}
							<li class="dropdown projects-dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projets&nbsp;<span class="caret"></span></a>
								{% if project %}<!-- <h1>{{ project.title }}</h1> -->{% endif %}
								{% if projects %}
									<ul class="dropdown-menu">
										{% for userproject in projects %}
										{% comment %} <li class="{% if project.name == current %} active{% endif %}">
											<a href="{% url 'elocusproject' project=project project=project.dir %}">{{project.title}}</a>
										</li> {% endcomment %}
										<li class="{% if userproject.project.directory == project %} active{% endif %}">
											<!-- {{project.project.title}} -->
											<a href="{% url 'elocushome' %}">
												{{userproject.project.name}}
											</a>
										</li>
										{% endfor %}
									</ul>
								{% endif %}
							</li>
							<li class="dropdown reports-dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									Rapports&nbsp;<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									{% for report in reports %}
										<li class="{% if report.dir == current %} active{% endif %}">
											<a href="{% url 'elocusreport' project=project report=report.dir %}">{{report.title}}</a>
										</li>
									{% endfor %}
									{% if reports %}
										<li role="separator" class="divider"></li>
									{% endif %}
									<li>
										<a href="#" class="elocus-action-create-report" data-toggle="modal" data-target="#modal_create">
											Créer rapport...
										</a>
									</li>

								</ul>
							</li>
						{% endif %}{# /if not public #}
						<li class="dropdown sections-dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								Sections&nbsp;<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{% for section in sections %}
									<li class="{% if section.id == current_section %} active{% endif %}">
										{% if public %}
											<a href="?section={{section.id}}">
												{{section.title}}
											</a>
										{% else %}
											<a href="{% url 'elocusreport' project=project report=current %}?section={{section.id}}">
												{{section.title}}
											</a>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						</li>
						
					{% endif %}{# /if report #}
				</ul>

				<ul class="nav navbar-nav navbar-right">
					{% comment %}
					<li>
						<a href="http://www.elocus.fr">À propos</a>
					</li>
					{% endcomment %}
					{% if user.is_authenticated %}
					<li class="dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle active" aria-expanded="false">
							<i class="fa fa-user fa-fw"></i> {{ user.first_name }} {{ user.last_name }}&nbsp;<span class="caret"></span>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li>
								<a href="{% url 'user_profile' %}"><i class="fa fa-user fa-fw"></i> Mon profil</a>
							</li>
							{% comment %}
							<li>
								<a href="#"><i class="fa fa-gear fa-fw"></i> Configuration</a>
							</li>
							{% endcomment %}
							<li class="divider"></li>
							<li>
								<a href="{% url 'logout' %}?next=/elocus/"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
							</li>
						</ul>
						<!-- /.dropdown-user -->
					</li>
					{% if request %}
					<li title="notifications" class="notifications-trigger {% if user.notifications.unread|length > 0 %} active{% endif %}">
						<a href="#" data-toggle="modal" data-target="#notifications" class="modal-toggle" aria-expanded="false">
							<i class="fa fa-bell fa-fw"></i>
						</a>
					</li>
					{% endif %}
					<li class="dropdown help-dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Aide
							&nbsp;<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="{% url 'help' %}" class="
									{% url 'help' as the_url %}
									{% if request.get_full_path == the_url %}active{% endif %}
								">Aide elocus</a>
							</li>
							<li>
								<a href="#" class="" data-toggle="modal" data-target="#modal_updates">Nouveautés</a>
							</li>
							<li>
								<a href="#" class="" data-toggle="modal" data-target="#modal_about">À propos</a>
							</li>

						</ul>
					</li>
					{% endif %}
					{% comment %}
					<li>
						<form class="navbar-form navbar-left" role="search">
							<div class="form-group input-group custom-search-form">
								<input type="text" placeholder="Search..." class="form-control">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</form>
					</li>
					
					<li>
						<a id="fullscreen" href="#" data-toggle="modal" data-target="#FullScreenModal" class="modal-toggle" title="Plein écran">
							<i class="fa fa-arrows-alt"></i>
						</a>
					</li>
					{% endcomment %}
				</ul>

			</div>
			<!--/.nav-collapse -->
		</div>
		<div class="text-generique">
			Simulateur de développement durable des territoires
		</div>
	</nav>

	{% comment "Test variables with" %}
	{% with test=True %}

	<div class="jumbotron">
		<h1>
			{{ test }}
			{% if test %}
			___test true
			{% else %}
			___test false
			{% endif %}
		</h1>
	</div>
	{% endwith %}
	{% endcomment %}


	<div class="page-content">
		{% block page-content %}{% endblock %}
	</div>
	<div class="modal" id="notifications" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Notifications</h4>
				</div>
				<div class="modal-body">
					<ul class="notifications notification-box-list">
						{% render_notifications using user.notifications.active.prefetch for box %}
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<span class="powered_eLocus">Powered by eLocus</span>
					<span class="footer-right">
						{% comment %} Crédits {% endcomment %}
						{% include "credits/launcher.html" %}
						{% comment %} Mentions légales {% endcomment %}
						{% include "mentions_legales/launcher.html" %}
						{% comment %} <span class="copyright">Copyright © 2016</span> {% endcomment %}
					</span>
				</div>

				{% comment %}
				<div class="col-md-offset-4 col-md-4">
					<ul class="list-inline social-buttons">
						<li><a href="https://twitter.com/elocus"><i class="fa fa-twitter"></i></a>
						</li>
						<li><a href="https://www.facebook.com/elocus/"><i class="fa fa-facebook"></i></a>
						</li>
					</ul>
				</div>
				{% endcomment %}
			</div>
		</div>
	</footer>



	<!-- Bouton retour haut de page -->
	<div id="toTop">
		<a id="topTopLink" href="#" title="haut de page"><i class="fa fa-level-up fa-2x" aria-hidden="true"></i></a>
	</div>

	<!-- Modal pour explication full screen -->
	<div class="modal fade hidden-xs" id="FullScreenModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Passer en mode plein écran</h4>
				</div>
				<div class="modal-body">
					<p>
						Pour enclencher la fonction plein écran, utilisez la touche <strong>F11</strong> de votre clavier. Celle-ci
						permet de faire basculer votre navigateur entre le mode normal et le mode plein écran.<br>
						Pour sortir du mode plein écran, utilisez la touche <strong>echap</strong> ou de nouveau la touche F11.
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal credits -->
	{% include "credits/modal.html" %}
	<!-- Modal mentions légales -->
	{% include "mentions_legales/modal.html" %}

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="{% static "jquery.js" %}"></script>
	<script src="{% static "jquery-ui.min.js" %}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="{% static "bootstrap3-typeahead.min.js" %}"></script>

	{# <script src="/settings.js"></script> #}
	<!--
		<script src="{% static "js/kolekti-utils.js" %}"></script>
		<script src="{% static "js/kolekti-common.js" %}"></script>
		-->

	{# scripts additionnels Felix #}
	{# retiré car sort du plein écran lorsqu'on change d'url <script src="{% static "js/screenfull.min.js" %}"></script> cf. https://github.com/sindresorhus/screenfull.js #}
	<script src="{% static "d3.v4.min.js" %}"></script>
	<script src="{% static "js/locale_fr.js" %}"></script>
	<script src="{% static "js/elocus-report-widgets.js" %}"></script>
	<script src="{% static "js/elocus-main.js" %}"></script>
	<script src="{% static "js/elocus-topic-chooser.js" %}"></script>
	<script src="{% static "js/upload-form.js" %}"></script>
	{# <script src="{% static "js/notifications.js" %}"></script> #}
	<script src="{% static 'notify/notifyX.js' %}"></script>
	<script src="{% url 'settings_js' %}"></script>
	{# fin scripts additionnels Felix #}

	{% block extrascripts %}{% endblock %}

</body>

</html>