/* ==========================================
Colors
========================================== */

/* Définition des couleurs de base */
@grisElocus : #4D4D4D;
@bleuElocus : #00B1D8;
@roseElocus: #AD1579;
@vertElocus: #B7CE20;
@bleutourisme: #00adef;
@orangebatiment:#f17223;
@bleusocietal:#1e3881;
@rougeingenierie: desaturate(#ed1c24, 15%);
@vertenvironnement: #C1CA4F;
// autre vert #67B55B //
@hoververt:#74936C; 

@batimentElocus: #ee932a;
@tourismeElocus: @bleuElocus;
@societalElocus: desaturate(#1e3881, 40%);
@ingenierieElocus: #ed1c24;
@territoiresElocus: @vertElocus;
@couleurpanel :  desaturate(@vertenvironnement, 10%);

/* Définition des shades of grey */
@blanc : #FFFFFF ;
@grisClairPlusPlus : #EFEFEF;
@grisClairPlus : #E1E1E1  ;
@grisClair : #BEBEBE  ;
@grisMoyen : #777777;
@grisFonce : #424242  ;
@grisFoncePlus : #31313F  ;
@noirClair : #09090A  ;
@noir : #000000  ;

/* Assignation des couleurs principales */
@minorLogo : transparent; // utilisé pour les bords du menu supérieur
@bgsLogo : @vertenvironnement; // utilisé pour les fonds de navbar et footer
@hoverLogo : @hoververt; // utilisé pour couleur de survol
@altLogo : @vertenvironnement; // utilisé dans titre sidenav et poweredByElocus

/* Couleur de fond des boutons */
@btnBg : @vertenvironnement;

/* Couleur du texte */
@baseFontColor : @noirClair;

/* Couleur des liens */
@linkColor : @hoververt;
@linkColorHover : @vertenvironnement;
@linkColorActive : saturate(@hoverLogo, -2%);

/* Couleur des titres */
@hsColor: @hoverLogo;


/* couleurs graphiques pour les charts */
// auparavant définies dans components/js/chart_functions.js, maintenant basés sur class html appliquant ces couleurs
@fillColor0 : @vertenvironnement;
@fillColor1 : #640F0A;
@fillColor2 : #326DA4;
@fillColor3 : #E32C23;
@fillColor4 : @grisElocus;

/* Palette de couleurs utilisées pour les fonds de widgets */
// @custom-color-1 : @roseElocus;
// @custom-color-2 : @grisElocus;
// @custom-color-3 : @ingenierieElocus;
// @custom-color-4 : @territoiresElocus;
// @custom-color-5 : @territoiresElocus;
// @custom-color-6 : @batimentElocus;
// @custom-color-7 : @batimentElocus;
// @custom-color-8 : @grisElocus;
// @custom-color-9 : @tourismeElocus;
// @custom-color-10 : @batimentElocus;
// @custom-color-11 : @ingenierieElocus;
// @custom-color-12 : @societalElocus;
// @custom-color-13 : @tourismeElocus;
// @custom-color-14 : @territoiresElocus;
// @custom-color-15 : @societalElocus;
// @custom-color-16 : @roseElocus;
// @custom-color-17 : @territoiresElocus;
@custom-color-1 : @couleurpanel;
@custom-color-2 : @couleurpanel;
@custom-color-3 : @couleurpanel;
@custom-color-4 : @couleurpanel;
@custom-color-5 : @couleurpanel;
@custom-color-6 : @couleurpanel;
@custom-color-7 : @couleurpanel;
@custom-color-8 : @couleurpanel;
@custom-color-9 : @couleurpanel;
@custom-color-10 : @couleurpanel;
@custom-color-11 : @couleurpanel;
@custom-color-12 : @couleurpanel;
@custom-color-13 : @couleurpanel;
@custom-color-14 : @couleurpanel;
@custom-color-15 : @couleurpanel;
@custom-color-16 : @couleurpanel;
@custom-color-17 : @couleurpanel;


/* assignation des couleurs pour les fonds de widgets */
@bien-etre : #CA85B6;
@economie : #FFC300 ;
@education : #99795C;
@energie : #E3CA65;
@environnement : #44A849;
@evolution : #A480C3;
@immobilier : #5C8899;
@logement : #FFBB80;
@meteo : #80CFDE    ;
@politique : #FF7F74;
@sante : #FF5734;
@ski : #45BDD6;
@social : #3F2E61;
@sport : #555555;
@technologie : #203329;
@tourisme : #00B1D8;
@transport : #C70039 ;

/* fonction pour assignation dynamique d'une couleur custom */
.custom-color(@number) {
    @fillClass : 'custom-color-@{number}';
    @return: @@fillClass;
}
