/* ==========================================
Surcharge pour le thème (éléments relatifs aux pages d'home-report)
========================================== */
// test
@import "colors.less";


// MENU //
   .navbar-elocus ul li a{
        color :#FFFFFF;
    }
.navbar-elocus {
 
    ul.navbar-nav {
        li a {
            color: @blanc;
            &:hover, &:focus &:active{
                color: @blanc;
                background: @hoverLogo;
            }
        }
    }
    .dropdown {
        ul.dropdown-menu li a{

                color: @vertenvironnement;

            i {
                color: @vertenvironnement;
            }
        }

    }
    .btn {
        background-color: @vertenvironnement;
        color: @blanc !important;
    }
    .dropdown a .caret {
        color: @blanc;
    }
}

.navbar-elocus .dropdown a.dropdown-toggle.active{
color:@blanc;
}
.navbar-elocus .navbar-nav li.notifications-trigger.active a{
   color:@blanc; 
}
// PANEL //

.sidenav .panel{
    margin-top: 47px;
}
.sidebar .panel-body{
    border:solid 1px;
    border-color :#CCCCCC;
    margin-top: 20px;
}
.panel-title{
    color: @vertenvironnement;
}
.panel-body .btn-group p{
    color: @hoverLogo;

}
.teaser-selection{
    background-color : #FFFFFF;
}

// Graphiques //

.btn-default{
    color : @hoverLogo;
}
.btn-default:hover{
    color : @hoverLogo;
}
.btn-default:active{
    color : @hoverLogo;
}
.btn-default:focus{
    color : @hoverLogo;
}

.elocus-chart svg g text{
    font-size: 10pt!important;
}

// SUPPRESSION DU FIL D'ARIANE //
a.ariane_active{
    color : @vertenvironnement !important;
     text-decoration: underline ;
}
.page-content div.page-header .breadcrumb{
    display: none;
}
.page-header{
    padding-bottom: 0;
}
.sidenav{
    padding-top: 70px;
}


// SIDEBAR //
.sidenav .panel .panel-heading h4 a{
    color : @hoverLogo;
}

.sidenav .panel .panel-body .btn-group a i{
    color:@vertenvironnement;
}
.sidenav .panel .panel-body .dropdown button{
    color:@vertenvironnement; 
}
#exportToFile{
    color: @hoverLogo;
}
.btn-default:hover{
    color: @hoverLogo;
}
.mgb p{
    color: @hoverLogo
}
.export-to-file .dropdown-menu li a{
color: @hoverLogo !important;
}
// FOOTER // 

footer{
        background-color:@vertenvironnement !important;
    
 .powered_eLocus{
    color:@blanc !important;
}
}
// Classe pour désaturer//
.desaturate{
    filter: grayscale(40%);
}
// Changement des blocs de couleurs //
.panel-default, .well blockquote {
    border-color: #EFEFEF;
}
.page-content .home-report .teaser-section.panel{
          margin-bottom: 30px;
}
.panel-body{
    position: relative;
}

//environnement//

.page-content .home-report .teaser-section.environnement .panel-body{
      background-color: #F5F5F5 !important;
      color: @environnement;
      margin-bottom: 0;
    
    i{
        color :@environnement;
    }
}


.page-content .home-report .teaser-section.environnement .panel-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    box-sizing: border-box;
    background-color: @environnement;
    overflow: hidden;
    margin-bottom: 0;
    
}

//bien-etre//

.page-content .home-report .teaser-section.bien-etre .panel-body{
      background-color: #F5F5F5 !important;
      color: @bien-etre;
    
    i{
        color :@bien-etre;
    }
}
.page-content .home-report .teaser-section.bien-etre .panel-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    box-sizing: border-box;
    background-color: @bien-etre;
}
//economie//

.page-content .home-report .teaser-section.economie .panel-body{
      background-color: #F5F5F5 !important;
      color: @economie;
    
    i{
        color :@economie;
    }
}


.page-content .home-report .teaser-section.economie .panel-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    box-sizing: border-box;
    background-color: @economie;
}

//education//

.page-content .home-report .teaser-section.education .panel-body{
      background-color: #F5F5F5 !important;
      color: @education;
    
    i{
        color :@education;
    }
}


.page-content .home-report .teaser-section.education .panel-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    box-sizing: border-box;
    background-color: @education;
}

//energie//

.page-content .home-report .teaser-section.energie .panel-body{
      background-color: #F5F5F5 !important;
      color: @energie;
    
    i{
        color :@energie;
    }
}


.page-content .home-report .teaser-section.energie .panel-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    box-sizing: border-box;
    background-color: @energie;
}


//evolution//

.page-content .home-report .teaser-section.evolution .panel-body{
      background-color: #F5F5F5 !important;
      color: @evolution;
    
    i{
        color :@evolution;
    }
}


.page-content .home-report .teaser-section.evolution .panel-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    box-sizing: border-box;
    background-color: @evolution;
}

//immobilier//

.page-content .home-report .teaser-section.immobilier .panel-body{
      background-color: #F5F5F5 !important;
      color: @immobilier;
    
    i{
        color :@immobilier;
    }
}


.page-content .home-report .teaser-section.immobilier .panel-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    box-sizing: border-box;
    background-color: @immobilier;
}

//logement//

.page-content .home-report .teaser-section.logement .panel-body{
      background-color: #F5F5F5 !important;
      color: @logement;
    
    i{
        color :@logement;
    }
}


.page-content .home-report .teaser-section.logement .panel-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    box-sizing: border-box;
    background-color: @logement;
}

//meteo//

.page-content .home-report .teaser-section.meteo .panel-body{
      background-color: #F5F5F5 !important;
      color: @meteo;
    
    i{
        color :@meteo;
    }
}


.page-content .home-report .teaser-section.meteo .panel-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    box-sizing: border-box;
    background-color: @meteo;
}

//politique//

.page-content .home-report .teaser-section.politique .panel-body{
      background-color: #F5F5F5 !important;
      color: @politique;
    
    i{
        color :@politique;
    }
}


.page-content .home-report .teaser-section.politique .panel-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    box-sizing: border-box;
    background-color: @politique;
}


//sante//

.page-content .home-report .teaser-section.sante .panel-body{
      background-color: #F5F5F5 !important;
      color: @sante;
    
    i{
        color :@sante;
    }
}


.page-content .home-report .teaser-section.sante .panel-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    box-sizing: border-box;
    background-color: @sante;
}

//ski//

.page-content .home-report .teaser-section.ski .panel-body{
      background-color: #F5F5F5 !important;
      color: @ski;
    
    i{
        color :@ski;
    }
}


.page-content .home-report .teaser-section.ski .panel-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    box-sizing: border-box;
    background-color: @ski;
}

//social//

.page-content .home-report .teaser-section.social .panel-body{
      background-color: #F5F5F5 !important;
      color: @social;
    
    i{
        color :@social;
    }
}


.page-content .home-report .teaser-section.social .panel-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    box-sizing: border-box;
    background-color: @social;
}

//sport//

.page-content .home-report .teaser-section.sport .panel-body{
      background-color: #F5F5F5 !important;
      color: @sport;
    
    i{
        color :@sport;
    }
}


.page-content .home-report .teaser-section.sport .panel-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    box-sizing: border-box;
    background-color: @sport;
}

//technologie//

.page-content .home-report .teaser-section.technologie .panel-body{
      background-color: #F5F5F5 !important;
      color: @technologie;
    
    i{
        color :@technologie;
    }
}


.page-content .home-report .teaser-section.technologie .panel-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    box-sizing: border-box;
    background-color: @technologie;
}

//tourisme//

.page-content .home-report .teaser-section.tourisme .panel-body{
      background-color: #F5F5F5 !important;
      color: @tourisme;
    
    i{
        color :@tourisme;
    }
}


.page-content .home-report .teaser-section.tourisme .panel-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    box-sizing: border-box;
    background-color: @tourisme;
}


//transport//

.page-content .home-report .teaser-section.transport .panel-body{
      background-color: #F5F5F5 !important;
      color: @transport;
    
    i{
        color :@transport;
    }
}


.page-content .home-report .teaser-section.transport .panel-body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 17%;
    box-sizing: border-box;
    background-color: @transport;
}


