/* = Imports = */

@import "../../bootstrap/less/variables.less";
@import "../../bootstrap/less/variables_modifs.less";
// nb : certaines variables sont importées du fichier de bootstrap
@import "../../bootstrap/less/mixins.less";
// nb : certaines fonctions sont importées du fichier de bootstrap
@import "colors.less";


/* ==========================================
Variables
========================================== */

@theme: "elocus";

@ftSz_42px: 2.62em;
@ftSz_25px: 1.56em;
@ftSz_19px: 1.36em;
@ftSz_17px: 1.21em;
@ftSz_16px: 1.15em;
@ftSz_14px: 1em;
@ftSz_11px: 0.78em;

// si compilé avec less.js :
@baseUrlForImages: "../img/@{theme}/";


@font-family-sans-serif:  "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       "Ubuntu","Helvetica Neue", Helvetica, Arial, sans-serif;
// @font-family-serif:       "Quattrocento",Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          15px;
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px


@texteFontFamily:        @font-family-sans-serif ;
@hsFontFamily:       @font-family-sans-serif ;
@hsFontWeight: 400;
@menuFontFamily:      @hsFontFamily;




/* @media examples
@screen-xs-min : phone, 480px, @screen-sm-min : tablet, 768px , @screen-md-min : desktop, 992px, @screen-lg-min : large, 1200px;
@screen-xs-max: (@screen-sm-min - 1);
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {}
*/





/* ==========================================
Fonts
========================================== */

/*@font-face {
	font-family: ProximaNova;
	src: url("../fonts/ProximaNova-Bold.otf");
}*/

//pour less compilé avec less.js dans baseHtml.html
//@fontPath: "../fonts/";
//pour précompiler less dans css/bootstrap.css
//@fontPath:          "../fonts/";

/*@fontFaceName01:"Verdana";
@font-face {
  font-family: "@{fontFaceName01}";
  src: ~"url('@{fontPath}@{fontFaceName01}.eot')";
  src: ~"url('@{fontPath}@{fontFaceName01}.eot?#iefix') format('embedded-opentype')",
       ~"url('@{fontPath}@{fontFaceName01}.woff') format('woff')",
       ~"url('@{fontPath}@{fontFaceName01}.ttf') format('truetype')",
       ~"url('@{fontPath}@{fontFaceName01}.svg#@{icon-font-svg-id}') format('svg')";
}*/


/* ==========================================
Fonctions
========================================== */
.box-shadow-color(@style, @c) when (iscolor(@c)) {
  // @style: (inset) horizontal vertical blur spread
	box-shadow:         @style @c;
	-webkit-box-shadow: @style @c;
	-moz-box-shadow:    @style @c;
}
.box-shadow-color(@style, @alpha: 50%) when (isnumber(@alpha)) {
  // @alpha 0.5 par exemple
  // @style : (inset) horizontal vertical blur (spread)
	.box-shadow(@style rgba(0, 0, 0, @alpha));
}

.border-radius(@radius) {
  .border-top-radius(@radius);
  //.border-right-radius(@radius);
  .border-bottom-radius(@radius);
  //.border-left-radius(@radius);
}

.threeD-ball (@colorStart, @start, @colorMiddle, @middle, @colorStop, @stop, @horizOffset, @vertOffset, @angle) {
	// .3d-ball (yellow, 0%, red, 95%, orange, 100%, 45px, 45px, 45deg);
	background-image: -moz-radial-gradient(@horizOffset @vertOffset @angle, circle cover, @colorStart @start, @colorStop @stop, @colorMiddle @middle );
	background-image: -webkit-radial-gradient(@horizOffset @vertOffset, circle cover, @colorStart, @colorStop);
	background-image: radial-gradient(@horizOffset @vertOffset @angle, circle cover, @colorStart @start, @colorStop @stop, @colorMiddle @middle );
}

.img-with-style() {
  padding: 0px;
  margin: 0;
  //background-color: @blanc;
  //border: thin solid @vertLogo;
  //.box-shadow-color(1px 2px 3px 0px, 0.3);
}
.img-without-style() {
  padding: 0;
  margin: inherit;
  background-color: transparent;
  border: none;
  .box-shadow-color(1px 2px 3px 0px, 0);
}

/* Pour mémoire
//ceci est une fonction recursive pour générer les classes bg-custom-color-{i} :
.generate-bg-by-class(7);
.generate-bg-by-class(@n, @i: 1) when (@i =< @n) {
    &.bg-custom-color-@{i} .panel-heading {
        @string:replace('custom-color-1','1','@{i}');
        background-color: @@string;
    }
    .generate-bg-by-class(@n, (@i + 1));
}
*/
