{% extends "page_elocus.html" %}

{% block extrahead %}
    {% if user.is_authenticated %}
    <meta http-equiv="REFRESH" content="0;url={% url 'elocushome' %}">
    {% endif %}
{%endblock%}

{% block page-content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-9 main">
            <h1>Votre compte est déjà activé</h1>
            <p>Votre compte eLocus est déjà activé.</p>
            {% if user.is_authenticated %}
            <p>Vous devriez être automatiquement redirigé vers <a href="{% url 'elocushome' %}">la page d'accueil</a> dans quelques secondes.</p>
            {% else %}
            <p>Identifiez vous pour acceder à votre <a href="/elocus/">Collection de rapports</a>.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


