{% extends "registration/home.html" %}
{% load bootstrap %}
{% block menu %}
<div data-spy="affix" data-offset-top="0" id="sideaffix">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
	Connexion
      </h4>
    </div>
    <div class="panel-body">
      <p>Vous êtes déconnecté</p>
      <a href="{% url 'login' %}">Se reconnecter</a>
    </div>
  </div>
</div>
{% endblock %}
