 {% extends "page_elocus.html" %}
{% load bootstrap %}


{% block extrahead %}
{% if user.is_authenticated %}
        <meta http-equiv="REFRESH" content="0;url={% url 'elocushome' %}">
{% endif %}
{%endblock%}

{% block page-content %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-9 main">
            <h1>Vous êtes déjà connecté</h1>
            <p>Vous devriez être automatiquement redirigé vers <a href="{% url 'elocushome' %}">la page d'accueil</a> dans quelques secondes.</p>
        </div>
    </div>
</div>

{% else %}
<div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-10 col-md-offset-3 col-xs-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            Connexion
          </h4>
        </div>

        <div class="panel-body">
          <form role="form" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {{form|bootstrap}}
        <p class="pull-right"><small><a href="{% url 'password_reset' %}">Mot de passe perdu ?</a></small></p>
        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}" />
        <button type="submit" class="btn btn-primary">Connexion</button>
          </form>
          <hr>
<!--
          <p><a href="{% url 'password_reset' %}">Mot de passe perdu ?</a></p>
          <p> OU (xor)</p>
-->
          {% if registration %}
          <p><a href="{% url 'registration_register' %}">Créer un compte...</a></p>
          {% endif %}
        </div>
      </div>
      </div>
    </div>

</div>

{% endif %}
{% endblock %}
