{% extends "page_elocus.html" %}
{% load bootstrap %}
{% block page-content %}
<div id="staticPageContainer" class="container">
  <div class="row">
    <div class="col-md-6 col-xs-10 col-md-offset-3 col-xs-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            Profil utilisateur {{ user.username }}
          </h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-2 col-sm-2" >
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-info fa-stack-1x fa-inverse"></i>
              </span>
            </div>
            <div class="col-lg-10 col-sm-10" >
            Consultez notre <a href="{% url 'pdc' %}">politique de confidentialité</a> pour prendre connaissance de notre utilisation de vos données personnelles.
          </div>
            
          </div>
          <hr>
          <form role="form" method="POST">
            {% csrf_token %}
            {{form|bootstrap}}
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
