{% extends "page_elocus.html" %}
{% load bootstrap %}

{% block page-content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-9 main">
      <h1>S'enregistrer</h1>
      <p>Créez un compte pour accéder a CivicData</p>
      <form class="form-horizontal" role="form" method="POST" action="{% url 'registration_register' %}">
	{% csrf_token %}
	{{ form|bootstrap_horizontal }}
	<div class="row">
	  <div class="col-lg-10 col-sm-10 col-lg-offset-2 col-sm-offset-2">
	    En renseignant votre adresse email, vous acceptez notre <a href="{% url 'pdc' %}">politique de confidentialité</a>
	  </div>
      <div class="col-lg-10 col-sm-10 col-lg-offset-2 col-sm-offset-2">
        Vous pouvez supprimer votre compte à tout moment en envoyant un mail à <a mailto="contact@civicdata.fr">contact@civicdata.fr</a>.
      </div>
        
	</div>
	<br/>
	<div class="row">
	  <div class="col-lg-10 col-sm-10 col-lg-offset-2 col-sm-offset-2">
	    <button type="submit" class="btn btn-primary">Valider</button>
	  </div>
	</div>
      </form>
    </div>
  </div>
</div>
{% endblock %}


