{% extends "registration/home.html" %}

{% block page-content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-9 main">
      <h1>Votre compte est activé</h1>
      <p>Votre compte kolekti est maintenant actif, vous pouvez vous authentifier.</p>
      <p>D'autre choses à dire ? des ressources ? de la doc ? des news ?</p>
    </div>
  </div>
</div>
{% endblock %}


