/* ==========================================
Surcharge pour le thème (éléments relatifs aux pages d'home-report)
========================================== */
// test
/* ==========================================
Surcharge pour le thème (éléments relatifs aux pages d'home-report)
========================================== */
// test
@import "colors.less";


// NAVBAR //
   .navbar-elocus ul li a{
        color :#FFFFFF ;
    }
.navbar-elocus {
    ul.navbar-nav {
        li a {
            color: @blanc;
            &:hover, &:focus &:active{
                color: @blanc;
                background: @hoverLogo;
            }
        }
    }
    .dropdown {
        ul.dropdown-menu li a{

                color: @violetElocus;

            i {
                color: @violetElocus;
            }
        }

    }
    .btn {
        background-color: @violetElocus;
        color: @blanc !important;
    }
    .dropdown a .caret {
        color: @blanc;
    }
}

.navbar-elocus .dropdown a.dropdown-toggle.active{
color:@blanc;
}
.navbar-elocus .navbar-nav li.notifications-trigger.active a{
   color:@blanc; 
}

// PANEL //

.panel-title{
    color: @violetElocus;
}
.panel-body .btn-group p{
    color: @hoverLogo;

}

// SUPPRESSION DU FIL D'ARIANE //
a.ariane_active{
    color : @violetElocus !important;
     text-decoration: underline ;
}
.page-content div.page-header .breadcrumb{
    display: none;
}
.page-header{
    padding-bottom: 0;
}
.sidenav{
    padding-top: 70px;
}


// SIDEBAR //
.sidenav .panel{
    margin-top: 47px;
}
.sidebar .panel-body{
    border:solid 1px;
    border-color :#CCCCCC;
    margin-top: 20px;
}

.sidenav .panel .panel-body .btn-group a i{
    color:@violetElocus;
}
.sidenav .panel .panel-body .dropdown button{
    color:@violetElocus; 
    }
#exportToFile{
    color: @hoverLogo;
}
.btn-default:hover{
    color: @hoverLogo;
}
.mgb p{
    color: @hoverLogo
}
.export-to-file .dropdown-menu li a{
color: @hoverLogo !important;
}


// FOOTER //
footer{
    background-color:@violetElocus !important;
    
    .powered_eLocus{
        color:@blanc !important;
    }
}

// Classe pour désaturer//
.desaturate{
    filter: grayscale(40%);
}



