{% extends "page_elocus.html" %}
{% block page-content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-offset-2 col-md-offset-2 col-sm-9 col-md-9 main">
<h1>Politique de confidentialité</h1>
<h2>Préambule</h2>
<p>Nous ne collectons que le minimum d’information nécessaire au fonctionnement du service.</p>
<p>Nous n’utilisons aucun dispositif de pistage de vos activités. En particulier, les cookies nous permettent exclusivement de gérer votre connexion au service.
<h2>Collecte de l’information</h2>
<p>Nous recueillons des informations lorsque vous vous inscrivez sur notre site, lorsque vous vous connectez à votre compte, et lorsque vous vous déconnectez. Les informations recueillies incluent nécessairement votre adresse e-mail et, de façon optionnelle vos noms, prénoms, société, adresse, ville, code postal et téléphone si vous les avez renseigné.
<p>En outre, nous recevons et enregistrons automatiquement des informations à partir de votre ordinateur et navigateur, y compris votre adresse IP, vos logiciels et votre matériel, et la page que vous demandez.
<h2>Utilisation des informations</h2>
<p>Toute les informations que nous recueillons auprès de vous peuvent être utilisées pour :
  <ul>
    <li>Permettre l’accès au service</li>
    <li>Personnaliser votre expérience</li>
    <li>Vous contacter par e-mail</li>
  </ul>
  <h2>Confidentialité</h2>
<p>Nous sommes garants des informations recueillies sur ce site. Vos informations personnelles ne seront pas vendues, échangées, transférées, ou données à une autre société pour n’importe quelle raison en dehors d’obligations légales ou judiciaires.</p>
<h2>Divulgation à des tiers</h2>
<p>Nous ne vendons, n’échangeons et ne transférons pas vos informations personnelles à des tiers en dehors d’obligations légales ou judiciaires.</p>
<h2>Protection des informations</h2>
<p>Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations personnelles. Nous utilisons un cryptage à la pointe de la technologie pour protéger les informations sensibles transmises en ligne. Les ordinateurs et serveurs utilisés pour stocker des informations personnelles identifiables sont conservés dans un environnement sécurisé.</p>
<h2>Est-ce que nous utilisons des cookies ?</h2>
<p>Oui, exclusivement pour gérer votre connexion au service. En aucun cas à des fins de pistage de vos activités</p>
<h2>Se désabonner</h2>
<p>Nous utilisons l’adresse e-mail que vous fournissez pour vous envoyer des informations et mises à jour relatives au service, des nouvelles de l’entreprise de façon occasionnelle, des informations sur des produits liés, etc. Si à n’importe quel moment vous souhaitez vous désinscrire et ne plus recevoir d’e-mails, des instructions de désabonnement détaillées sont incluses en bas de chaque e-mail.</p>
<p>Vous pouvez supprimer votre compte à tout moment par simple demande à <a mailto="contact@civicdata.fr">contact@civicdata.fr</a>.</p>
<h2>Consentement</h2>
<p>En utilisant notre site, vous consentez à notre politique de confidentialité.</p>
    </div>
  </div>
</div>
{% endblock %}
