/* ==========================================
Colors
========================================== */

/* Définition des couleurs de base * /
@grisElocus : #4D4D4D;
@bleuElocus : #00B1D8;
@roseElocus: #AD1579;
@vertElocus: #B7CE20;

@batimentElocus: #ee932a;
@tourismeElocus: @bleuElocus;
@societalElocus: desaturate(#1e3881, 40%);
@ingenierieElocus: #ed1c24;
@territoiresElocus: @vertElocus;*/

@bCielLogo : rgb(0,177,216); // = #00B1D8
@bMarineLogo: rgb(30,75,99); // = #1E4B63
@orangeLogo: rgb(243,101,42); // = #F3652A

/* Définition des shades of grey */
@blanc : #FFFFFF ;
@grisClairPlusPlus : #EFEFEF;
@grisClairPlus : #E1E1E1  ;
@grisClair : #BEBEBE  ;
@grisMoyen : #777777;
@grisFonce : #424242  ;
@grisFoncePlus : #31313F  ;
@noirClair : #09090A  ;
@noir : #000000  ;

/* Assignation des couleurs principales */
@minorLogo : @bCielLogo; // utilisé pour les bords du menu supérieur
@bgsLogo : @bMarineLogo; // utilisé pour les fonds de navbar et footer
@hoverLogo : @orangeLogo; // utilisé pour couleur de survol
@altLogo : darken(desaturate(@grisMoyen, 10%), 5%); // utilisé dans titre sidenav et poweredByElocus

/* Couleur de fond des boutons */
@btnBg : darken(@hoverLogo, 5%);

/* Couleur du texte */
@baseFontColor : @noirClair;

/* Couleur des liens */
@linkColor : darken(@minorLogo, 5%);
@linkColorHover : @hoverLogo;
@linkColorActive : saturate(@hoverLogo, -2%);

/* Couleur des titres */
@hsColor: @bgsLogo;


/* couleurs graphiques pour les charts */
// auparavant définies dans components/js/chart_functions.js, maintenant basés sur class html appliquant ces couleurs
@fillColor0 : desaturate(@minorLogo,15%);
@fillColor1 : @bgsLogo;
@fillColor2 : @grisMoyen;
@fillColor3 : @hoverLogo;
@fillColor4 : @altLogo;

/* Palette de couleurs utilisées pour les fonds de widgets */
// @custom-color-1 : @roseElocus;
// @custom-color-2 : @grisElocus;
// @custom-color-3 : @ingenierieElocus;
// @custom-color-4 : @territoiresElocus;
// @custom-color-5 : @territoiresElocus;
// @custom-color-6 : @batimentElocus;
// @custom-color-7 : @batimentElocus;
// @custom-color-8 : @grisElocus;
// @custom-color-9 : @tourismeElocus;
// @custom-color-10 : @batimentElocus;
// @custom-color-11 : @ingenierieElocus;
// @custom-color-12 : @societalElocus;
// @custom-color-13 : @tourismeElocus;
// @custom-color-14 : @territoiresElocus;
// @custom-color-15 : @societalElocus;
// @custom-color-16 : @roseElocus;
// @custom-color-17 : @territoiresElocus;
@custom-color-1 : #BA1570;
@custom-color-2 : #201f1f;
@custom-color-3 : #ebc53b;
@custom-color-4 : #0aae1d;
@custom-color-5 : #358d4d;
@custom-color-6 : #a8282e;
@custom-color-7 : #2e4686;
@custom-color-8 : #4b3723;
@custom-color-9 : #00a2d7;
@custom-color-10 : #c86732;
@custom-color-11 : #a8282e;
@custom-color-12 : #4b518d;
@custom-color-13 : #d48a38;
@custom-color-14 : #184931;
@custom-color-15 : #3b49b2;
@custom-color-16 : #a0518c;
@custom-color-17 : #87b866;


/* assignation des couleurs pour les fonds de widgets */
@bien-etre : @custom-color-1;
@economie : @custom-color-2;
@education : @custom-color-3;
@energie : @custom-color-4;
@environnement : @custom-color-5;
@evolution : @custom-color-6;
@immobilier : @custom-color-7;
@logement : @custom-color-8;
@meteo : @custom-color-9;
@politique : @custom-color-10;
@sante : @custom-color-11;
@ski : @custom-color-12;
@social : @custom-color-13;
@sport : @custom-color-14;
@technologie : @custom-color-15;
@tourisme : @custom-color-16;
@transport : @custom-color-17;

/* fonction pour assignation dynamique d'une couleur custom */
.custom-color(@number) {
    @fillClass : 'custom-color-@{number}';
    @return: @@fillClass;
}
