<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kolekti</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="/static/css/kolekti.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
	<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

	</div>
	<div class="collapse navbar-collapse" id="navbar">
	  <ul class="nav navbar-nav">
            <li {% block current_home %}{% endblock %}><a href="/"><i class="fa fa-home fa-3"></i></a></li>
	  </ul>

	  <ul class="nav navbar-nav navbar-right ">
	    
	    <li><a href="/static/help/{% block help-topic %}index{% endblock %}.html" target="_kolekti_help">Aide</a></li>

	    
	    <li>
	  </ul>
	</div>
      </div>
    </div> <!-- navbar -->
    {% if user.is_authenticated %}     
    <div class="navbar navbar-fixed-top"  id="navbar2">
      <div class="container-fluid">
	<div class="row">
	  <div class="col-sm-12">
	    <div class="btn-toolbar" role="toolbar" id="kolekti_tools">
	      {% block usermenu %}
	      {% endblock %}
	    </div>
	  </div>
	</div>
      </div>
    </div>
    {% endif %}
    
    {% block page-content %}{% endblock %}


    <div class="modal fade">
      <div class="modal-dialog modal-lg">
	<div class="modal-content">
	  <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
            <h4 class="modal-title">{% block modal-title %}Modal title{% endblock %}</h4>
	  </div>
	  <form id="modalform" method="POST">
	    <div class="modal-body">
              {% block modal-body %}<p>Generic modal</p>{% endblock %}
	    </div>
	    <div class="modal-footer">
	      {% block modal-footer %}{% endblock %}
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
	    </div>
	  </form>
	</div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/settings.js"></script>
    <script src="/static/js/kolekti-utils.js"></script>
    <script src="/static/js/kolekti-common.js"></script>
    <script src="/static/js/kolekti-projects.js"></script>
    {% block extrascripts %}{% endblock %}
  </body>
</html>
