<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ kolekti.project }}{% block page-title %}{% endblock %}</title>
    <link rel="icon" href="/static/kolekti.png">
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Cabin|Quattrocento" rel="stylesheet"> 

    <link href="/static/css/kolekti.css" rel="stylesheet">
    {% block extracss %}{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
	<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

	</div>
	<div class="collapse navbar-collapse" id="navbar">
	  <ul class="nav navbar-nav">
            <li {% block current_home %}{% endblock %}><a href="/"><i class="fa fa-home fa-3"></i></a></li>
	    {% if active_project %}
	    <li {% block current_trames %}{% endblock %}><a href="/tocs/">Trames</a></li>
	    <li {% block current_topics %}{% endblock %}><a href="/topics/">Modules</a></li>
	    <li {% block current_images %}{% endblock %}><a href="/images/">Images</a></li>
	    <li {% block current_releases %}{% endblock %}><a href="/releases/">Versions</a></li>
	    <li class="dropdown  {% block current_tools %}{% endblock %}">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projet <span class="caret"></span></a>
	      <ul class="dropdown-menu" role="menu">
		<li><a href="/variables/">Variables</a></li>
		<li><a href="/settings/criteria">Critères</a></li>
		<li><a href="/projects/config">Langues</a></li>
		<li><a href="/settings/">Paramètres de publication</a></li>
		<li role="presentation" class="divider"></li>
		<li><a href="/import/">Importer un fichier tableur</a></li>
		<li role="presentation" class="divider"></li>
		<li><a href="/sync/">Synchronisation</a></li>
		<li role="presentation" class="divider"></li>
		<li><a href="/projects/">Gestion des projets</a></li>
		{% endif %}
	      </ul>
	    <li>
	  </ul>

	  <ul class="nav navbar-nav navbar-right ">
	    <li><a href="/static/help/{% block help-topic %}index{% endblock %}.html" target="_kolekti_help">Aide</a></li>

	    <li>
	  </ul>
	  <!--
	  <form class="navbar-form navbar-right navbar-input-group" role="search" action="/search">
	    <div class="input-group input-group-sm">
	      <input type="text" class="form-control" name="query" placeholder="Rechercher...">
	      <span class="input-group-btn">
		<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
	      </span>
	    </div>
	  </form>
	  -->
	</div>
      </div>
<!--
      <div class="collapse navbar-collapse" id="navbar2">
	<ul class="nav navbar-nav">
	  <li><span class="label label-primary">{{ active_project }} {{ active_srclang }} [r{{ syncnum.revision.number }}]</span></a></li>
	</ul>
      </div>
-->
    </div> <!-- navbar -->
    <div class="navbar navbar-fixed-top"  id="navbar2">
      <div class="container-fluid">
	<div class="row">
	  <div class="col-sm-12">
	    <div class="btn-toolbar" role="toolbar" id="kolekti_tools">

	      {% if user.is_authenticated %}
	      <div class="btn-group pull-right" role="group">
		<button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenuUser" data-toggle="dropdown" aria-expanded="true">
		  {{ user.username }}
		  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu"  aria-labelledby="dropdownMenuUser">
		  <li><a href="{% url 'user_profile' %}">Profil</a></li>
		  <li><a href="/accounts/logout/?next=/">Déconnexion</a></li>
		</ul>
	      </div>
	      {% endif %}

	      {% if active_project %}
	      <div class="btn-group pull-right" role="group">
		<button id="btn_rev" class="btn btn-xs btn-default dropdown-toggle" type="button" >
		  <span>
		    <span><i class="fa fa-circle"></i></span>
		    rev {{ syncnum.revision.number }}
		  </span>
		</button>
	      </div>
	      {% endif %}

	      <div class="btn-group  pull-right" role="group">
		{% block infobuttons %}
		{% if active_project %}
		<div class="btn-group" role="group">
		  <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    Projet {{ active_project_name }} ({{ active_srclang }})
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    {% for project in projects %}
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/projects/activate?project={{ project.id }}&redirect=/">{{project.name}}</a></li>
		    {% endfor %}
		  </ul>
		</div>
		{% endif %}
	      </div>

	      {% endblock %}
	    </div>
	  </div>
	</div>
      </div>
    </div>
    {% block page-content %}{% endblock %}


    <div class="modal fade">
      <div class="modal-dialog modal-lg">
	<div class="modal-content">
	  <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
            <h4 class="modal-title">{% block modal-title %}Modal title{% endblock %}</h4>
	  </div>
	  <form id="modalform" method="POST">
	    <div class="modal-body">
              {% block modal-body %}<p>Generic modal</p>{% endblock %}
	    </div>
	    <div class="modal-footer">
	      {% block modal-footer %}{% endblock %}
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
	    </div>
	  </form>
	</div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    {% block footer %}{% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/jquery.js"></script>
    <script src="/static/jquery-ui.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/settings.js"></script>
    <script src="/static/js/kolekti-utils.js"></script>
    <script src="/static/js/kolekti-common.js"></script>
    {% block extrascripts %}{% endblock %}
  </body>
</html>
