<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kolekti</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="/static/css/kolekti.css" rel="stylesheet">
    {% block extracss %}{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
	<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Kolekti</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
            <li><a href="http://www.kolekti.org/projects/kolekti/wiki">kolekti.org</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-remove-circle"> </span></a></li>
	  </ul>
	</div>
      </div>
    </div> <!-- navbar -->

    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-md-9 main">
          <h1>Project activé</h1>
	  <div class="panel panel-default">
	    <div class="panel-body">
	      <p>redemarrez kolekti et retournez à l'<a href="/">home-report</a></p>
	    </div>
	  </div>
	</div>

	<div class="col-sm-3 col-md-3 side">
	  <div data-spy="affix" data-offset-top="0" id="sideaffix">
	    {% block menu %}{% endblock %}
	  </div>
	</div>
      </div>
    </div>


    <div class="modal fade">
      <div class="modal-dialog modal-lg">
	<div class="modal-content">
	  <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
            <h4 class="modal-title">Modal title</h4>
	  </div>
	  <div class="modal-body">
            <p>Generic modal</p>
	  </div>
	  <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
	  </div>
	</div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/kolekti-utils.js"></script>
    {% block extrascripts %}{% endblock %}
  </body>
</html>
