{% load timetags %}
<div class="publication_msg">
  {% if event == "lang" %}
  <hr/>
  <h4><em>Langue {{ label }}</em></h4>
  {% elif event == "job" %}
  {#  <h4>Publications</h4> #}
  {% elif event == "profile" %}
  <h6>{{ label }}</h6>
  {% elif event == "result" %}
  <ul class="result">
    {% for doc in docs %}
    {% if doc.url %}
    <li>[{{ doc.type }}] <a href="{{doc.url}}" target="_blank">{{ doc.label }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
  {% elif event == "release" %}
  <h4><em>Version</em></h4>
  <ul class="result">
    <li><a href="/releases/detail/?release={{ref}}" target="_blank">{{ ref }}</a></li>
    <li>Assemblage : <a href="{{ref}}/sources/{{ lang }}/assembly/{{ releasename }}_asm.html" target="_blank">{{ releasename }}_asm.html</a> [{{ lang }}]</li>
  </ul>
  {% elif event == "warning" %}
  <div class="alert alert-warning">
    <h5>Avertissement</h5>
    <p>{{ msg }}</p>
  </div>
  {% elif event == "error" %}
  <div class="alert alert-danger error">
    <h5>Erreur à la publication</h5>
    <p>{{ msg }}</p>
  </div>
  <a class="btn btn-primary btn-xs" data-toggle="collapse" href="#collapseStacktrace{{ id }}" aria-expanded="false" aria-controls="collapseStracktrace{{ id }}">Détails</a>
  <div class="collapse" id="collapseStacktrace{{ id }}">
    <div class="well">
      <pre>
	{{ stacktrace }}
      </pre>
    </div>
  </div>
  {% elif event == "publication_dir" %}
  <hr>
  <div class="alert alert-default">
    <a href="/publications/zip/?path={{ path }}" target="_blank">Zip de l'ensemble des publications</a>
  </div>
  {% endif %}
</div>
