{% extends "base-wide.html" %}

{% block current_tools %}class="menu-current"{% endblock %}
{% block title %}Paramètres de publication{% endblock %}
{% block help-topic %}job{% endblock %}

{% block extrascripts %}
    <script src="/static/js/kolekti-jobslist.js"></script>
{% endblock %}

{% block menu %}
{% endblock %}


{% block content %}

<div class="main">
  <div class="browserparent">
  </div>      
</div>


{% endblock %}

