{% extends "registration/home.html" %}

{% block page-content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-9 main">
      <h1>Votre compte est activé</h1>
      <p>Votre compte eLocus est maintenant actif.</p>
      <p>Acceder a votre <a href="/elocus/">Collection de rapports</a></p>
    </div>
  </div>
</div>
{% endblock %}


