{% extends "registration/home.html" %}

{% block page-content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-9 main">
      <h1>En attente d'activation de votre compte</h1>
      <p>Un email vous a été adressé à {{ form.email }} contenant le code d'activation de votre compte.</p>
    </div>
  </div>
</div>
{% endblock %}


