{% extends "base.html" %}
{% block current_releases %}class="menu-current"{% endblock %}
{% load statustags %}
{% block extracss %}
    <link rel="stylesheet" type="text/css"  href="/static/css/kolekti-releases.css"></script>
    <link rel="stylesheet" type="text/css"  href="/criteria.css"></script>
<!--    <script src="/static/ckeditor/ckeditor.js"></script> -->
{% endblock %}

{% block extrascripts %}
<script src="/static/js/kolekti-illustrationsutils.js"></script>
<script src="/static/js/kolekti-variablesutils.js"></script>
<script src="/static/js/kolekti-release.js"></script>
{% endblock %}

    {% block title %}
    {{ assembly_name }}
    {% endblock %}


    {% block infobuttons_lang %}
    {% endblock %}	      

{% block menu %}
{% if langstate != "unknown" %}
<div class="row">
      <div class="col-sm-12 col-md-12">
	<div class="btn-group btn-group-justified" role="group">
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-default btn-save disabled" id="btn_save">Enregistrer</button>
	  </div>
	</div>
      </div>
    </div>

    <div class="row top-margin">
      <div class="col-sm-12 col-md-12">
	<div class="btn-group btn-group-justified" role="group">
	  <div class="btn-group" role="group">
	    <button type="button" class="btn btn-primary btn_publish" id="btn_publish">Publier</button>
	  </div>
	</div>
      </div>
    </div>


    <br/>


    <div class="panel panel-default" id="panel_download">
      <div class="panel-heading">
	<h4 class="panel-title">
	  <a data-toggle="collapse" href="#collapsePL" class="collapsed">
	    <small>
	      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	      <span class="glyphicon glyphicon-chevron-down" aria-hidden="false"></span>
	    </small>
	    Télécharger
	  </a>
	</h4>
      </div>
      
      <div id="collapsePL" class="panel-collapse collapse in ">
	<div class="panel-body">
	  <div class="row">
	    <div class="col-sm-12 col-md-12">
	      <h5>Exporter</h5>
	      {% if srclang %}	      
	      <a href="{{ release_path }}/sources/{{ srclang }}/assembly/{{ assembly_name }}_asm.html" download="{{ assembly_name }}_asm">
		Assemblage source [{{srclang}}]
	      </a>
	      <br>
	      <a href="{{ release_path }}/sources/{{ lang }}/assembly/{{ assembly_name }}_asm.html" download="{{ assembly_name }}_asm">
		Assemblage traduit [{{lang}}]
	      </a>
	      {% else %}
	      <a href="{{ release_path }}/sources/{{ lang }}/assembly/{{ assembly_name }}_asm.html" download="{{ assembly_name }}_asm">
		Assemblage source [{{lang}}]
	      </a>
	      {% endif %}
	      
	    </div>
	    {% if srclang %}
	    <div class="col-sm-12 col-md-12">
	      <h5>Importer</h5>
	      <form method="POST" class="upload_form" enctype="multipart/form-data">
		<div class="input-group">
		  <label style="font-weight:100">Assemblage traduit [{{lang}}]
		  <input type="file" id="dl_assembly" placeholder="" name="upload_file"/>
		  
		</div>
		<button type="submit" class="btn btn-default btn-xs">Valider</button>
	      </form>
	    </div>
	    {% endif %}
	  </div>
	</div>
      </div>
    </div>
    {% endif %}

    <div id="release_publications">
    </div>
    
{% endblock %}


{% block content %}
    <div id="main" class="release" data-release="{{release_path}}" data-lang="{{ lang }}"
	 {% if validactions %}
	 data-valid-actions="yes"
	 {% endif %}
	 >
      <ul class="nav nav-tabs" role="tablist" id="release_tabs">
	{% for rlang, state,focus in langstates %}
	<li role="presentation"{% if rlang == lang %} class="active"{% endif %}>
	 
	  <a href=" {% if rlang != lang %}/releases/detail/?release={{release_path}}&lang={{ rlang }}{% endif %}#"
	     aria-controls="release_content_ {{ rlang }}"
	     data-state="{{ state }}"
	     data-lang="{{ rlang }}"
	     class="text-center {% if focus %} focus{% endif %}"
	     {% if  state == "unknown" %}
	     title="Créer la version {{ rlang }}"
	     {% endif %}
	     >
	    <span class="state lead">{{ rlang }}</span>
	    <br>
	    <span class="state"><img src="/static/img/release_status_{{state}}.png"/></span>
	  </a>
	     
	</li>
	{% endfor %}
      </ul>
      <!-- Tab panes -->

      <div class="tab-content ">
	{% for rlang, state, focus in langstates %}
	{% if rlang == lang %}
	<div role="tabpanel" class="tab-pane tab-lang{% if rlang == lang %} active{% endif %}" id="release_content_{{ rlang }}" data-lang="{{ rlang}}">
	  {% if state == "unknown" %}
	  <div class="panel panel-info">
	    <div class="panel-heading">
	      <form action="/releases/copy/" method="POST">
		<div class="form-group">
		  <p><strong>Cette version n'existe pas en langue <em> {{ rlang }}</em></strong></p>
		  <div class="form-group">
		    <label for="release_copy_from_lang">Sélectionnez la langue source à partir de laquelle doit être crée la version <em>{{ rlang }}</em> : </label>
		    <select name="release_copy_from_lang">
		      {% for mrlang, mstate in langstates %}
		      {% if mstate != 'unknown' %} 
		      <option value="{{ mrlang }}">{{ mrlang }}</option>
		      {% endif %}
		      {% endfor %}
		    </select>
		  </div>
		  <input type="hidden" name="release_lang" value="{{ rlang }}"/>
		  <input type="hidden" name="release" value="{{ release_path }}/{{assembly_name}}"/>
		<button type="submit" class="btn btn-default">Créer</button>
		</div>
	      </form>
	    </div>
	  </div>
	  {% else %}
	  
	  <div class="panel panel-info">
	    <div class="panel-heading">
	      {% if state == "unversionned" %}
	      <p><strong>Cette langue n'a pas été synchronisée, le statut est indisponible</strong><br/>
		<a href="/sync/">Synchroniser le projet</a>
	      </p>
	      {% elif state == "sourcelang" %}
	      <p>Langue source de la version</p>
	      {% else %}
	      <form>
		<div class="form-group">

	      	  <label for="statemenu">Statut :</label>
		  <div class="btn-group">
	      	    <button class="btn btn-default btn-sm btn-lang-menu-{{ rlang }} btn-lang-menu-{{ state }} btn-lang-menu dropdown-toggle" type="button"
			  name="statemenu"
			    title="{{ state }}"
			    data-lang="{{ rlang }}"
			    data-state="{{ state }}" 
			    data-toggle="dropdown"
			    aria-expanded="true">
		      <span class="state">{{state|statustext}}</span>
		      <span class="caret"/>
		    </button>
		    <ul class="dropdown-menu" role="menu" data-target-lang="{{ rlang }}">
		      <li><a class="release-state" data-state="edition" href="#" ><span>Nouveau</span></a></li>
		      <li><a class="release-state" data-state="translation" href="#"><span class="text-primary">En traduction</span></a></li>
		      <li><a class="release-state" data-state="validation" href="#"><span class="text-warning">En relecture</a></li>
		      <li><a class="release-state" data-state="publication" href="#"><span class="text-success">Officialisé</a></li>
		    </ul>
		  </div>
		</div>
		<!--
		<div class="checkbox">
		  <label>
		    <input type="checkbox" id="focus_{{ lang }}"/>Focus
		  </label>
		</div>
		-->
	      </form>
	      {% endif %}
	    </div>
	    <div class="panel-body">
	      <div class="row">
		<div class="col-sm-6 col-md-6">
		  <div class="btn-group">
		    <button type="button" class="btn btn-default btn-release-pane active" id="btn_assembly">
		      Assemblage
		    </button>
		    <button type="button" class="btn btn-default btn-release-pane" id="btn_illust">
		      Images
		    </button>
		    <button type="button" class="btn btn-default btn-release-pane" id="btn_variables">
		      Variables
		    </button>
		  </div>
		</div>
	      </div>
	      <div id="content_pane" class="release-panel-part">
	      </div>
	      <div id="illust_pane" class="release-panel-part hidden">
	
	      </div>
	      <div id="variables_pane" class="release-panel-part hidden">
	      </div>
	    </div>
	    
	  </div>
	  {% endif %}	  
	</div>
	{% endif %}	  
 	{% endfor %}
	<div id="browsers">
	  <div class="browser_lang collapse in" id="browser_lang">
	  </div>
	  <div class="browser_share collapse" id="browser_share">
	  </div>
	</div>
	
      </div>
    </div>
{% endblock %}



{% block modal-body %}
{% endblock %}



