.kolekti-sparql-query,
.kolekti-sparql-template,
.kolekti-sparql-result-json {
    display:none;
}

.topic h3 {
    margin-left:20px;
    font-size: 120%;

}

.topic .panel {
    margin-bottom:20px;
}

.topic .panel.notitle .panel-body {
    padding-top: 0;
}

/*
.topic .panel .panel-heading {
    min-height:100px
}
*/

.topic .panel .panel-footer p {
    margin-bottom:0;
}


.topic.details .elocus-action-showdetails
{
    display:none;
}


.modal-topic-details .modal-dialog {
    width: 95%;
    height:95%;
}

.modal-topic-details .modal-content {
    height: auto;
    min-height: 100%;
}
.modal-topic-details .modal-body {
    max-height: 80%;
    overflow-y: auto;

}

.topic.disabled {
    opacity:0.4;
}

#modal_error .msg {
    max-height: 320px;
    overflow-y: auto;
}


.fa.fa-eye {
    display : inline
}

.elocus-action-hide.ishidden .fa.fa-eye {
    display:none
}


.fa.fa-eye-slash {
    display : none
}

.elocus-action-hide.ishidden .fa.fa-eye-slash {
    display:inline
}
