/* room for navbar */
body {
    padding-top:55px;
}

div.main>h1 {
    font-size:160%
}

.padright {
    padding-right:12px;
}


/*
.side .affix {
    width:100%;
}

@media (min-width: 768px) {
.side .affix, 
.side .affix-bottom {
width: 213px;
}
}

@media (min-width: 992px) {
.side .affix, .side .affix-bottom {
width: 412px;
}
}
*/
/** toggles in collapse headers */
a[data-toggle=mycollapse] span[aria-hidden=true] ,
a[data-toggle=collapse] span[aria-hidden=true] {
    display:none;
}
a[data-toggle=mycollapse].collapsed span[aria-hidden=true] ,
a[data-toggle=collapse].collapsed span[aria-hidden=true] {
    display:inline;
}
a[data-toggle=mycollapse] span[aria-hidden=false] ,
a[data-toggle=collapse] span[aria-hidden=false] {
    display:inline;
}
a[data-toggle=mycollapse].collapsed span[aria-hidden=false] ,
a[data-toggle=collapse].collapsed span[aria-hidden=false] {
    display:none;
}
a[data-toggle=mycollapse] ,
a[data-toggle=collapse] {
    color: black;
}
a[data-toggle=mycollapse]:hover ,
a[data-toggle=collapse]:hover {
    text-decoration:none;
}

a[data-toggle=mycollapse] small,
a[data-toggle=collapse] small
{
    margin-right: .5em;
}

/** sidepanel overrides */
.side .checkbox {
    margin-top:0px;
    margin-bottom:0px;
}

.side h5 {
    margin-top:16px;
    font-weight:bold;
    border-bottom:1px solid #D0D0D0;
}

.side h6 {
    font-weight:normal;
    font-style:italic;

}

.side {
    margin-top: 68px;
}

.section>.panel-heading h1,
.section>.panel-heading h2,
.section>.panel-heading h3,
.section>.panel-heading h4,
.section>.panel-heading h5,
.section>.panel-heading h6 {
    margin-top:0;
    margin-bottom:0;
    font-size:26px;
}
.section>.panel-heading h1 {
}
.section>.panel-heading h2 {
}
.section>.panel-heading h3 {
}
.section>.panel-heading h4 {
}
.section>.panel-heading h5 {
}
.section>.panel-heading h6 {
}
a.pathstep:active,
a.pathstep {
color:black;
}
/*
label {
    font-weight:100;
}
*/

.navbar-inverse {
 background-color: #428BCA;   
}


/* current menubar item */


.navbar-inverse .navbar-nav>li>a {
    color: #E0E0E0;
    font-weight:bold;
}

.menu-current {
    background-color:#225BAA;
}

.menu-current>a {
    color:white !important;
    font-weight:bold;
}


/* project info bar */

#navbar2 {
    margin-top:50px;
    /*    min-height:25px;    */
    left:auto;
}

#navbar2 .strong {
    font-weight:bold;
}

.top-margin { margin-top:10px; }


/* browser */

/* set color on folder lines */
.browser tr.dir {
    background-color: #f9f9f9;
}

.kolekti-browser-sync span {
    cursor: pointer;
}

/* drag n drop */

.ui-draggable-dragging .kolekti-browser-item-action ,
.ui-draggable-dragging .kolekti-browser-sync,
.ui-draggable-dragging .kolekti-browser-date {
    display:none;
}

.ui-draggable-dragging .kolekti-browser-sync {
    display:none;
}

.browser .ui-state-hover ,
.browser tr.dir.ui-state-hover {
    background-color: #D0D0D0;
}

.panel.drop {
    background-color:rgba(12,255,55,.05);
}


/* widgets */

.history {
    padding-bottom:20px;
}

.widget .date ,
.history .date {
    padding-left: 5px;
}

.widget .info {
    padding-left: 8px;
    padding-top: 12px;
    display:inline-block;
}

.widget .date,
.widget .author,
.history .date,
.history .author {
    font-size :80%;
    padding-top: 12px;
    display:inline-block;
}

.widget .msg,
.history .msg {
    font-style : italic;
}

.widget .record:first,
.history .record:first {
    border-top : 1px solid #606060;
}

.widget .record,
.history .record {
    border-bottom: 1px solid #606060;
}

.widget .link,
.history .link {
    text-align:right;
    font-size:80%
		   
}


