{% extends "page_elocus.html" %}

{% block page-content %}
	<div id="staticPageContainer" class="container">
        <p>Le traitement des données est en cours, vous recevrez un courriel quand elles seront prêtes.</p>

        <p>
            <a href="{% url "elocushome" %}">Retour à l'accueil</a>
        </p>
    </div>
{% endblock %}
