{% load static %}

<!-- Modal -->
<div class="modal fade mentions-legales" id="mentionsLegales" tabindex="-1" role="dialog" aria-labelledby="modalCredit">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hipen="true">&times;</span></button>
				<h2 class="modal-title" id="modalCredit">Mentions légales</h2>
			</div>
			<div class="modal-body">
				<div class="panel-group" id="creditsCollapsable" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading1">
							<h3 class="panel-title">
								<a role="button" class="collapse-launcher" data-toggle="collapse" data-parent="#creditsCollapsable" href="#collapse1" aria-expanded="true" aria-controls="collapse1">Développeurs Principaux</a>
							</h3>
						</div>
						<div id="collapse1" class="panel-collapse collapse developpeurs-principaux" role="tabpanel" aria-labelledby="heading1"> 
							<div class="panel-body">
								<div class="row">
									<div class="col-md-6">
										<img class="photo img-responsive" src="{% static "img/credits/dev_princ/5abba905bc8fe.jpg" %}">
										<div class="description">
											<h4>David Beniamine</h4>
											<p>
												<span class="firm"><a target="_blank" href="https://www.tetras-libre.fr/">Tetras Libre</a></span>
												Systèmes et performances<br/>
												Docteur en informatique
											</p>
										</div>
									</div>

									<div class="col-md-6">
										<img class="photo img-responsive" src="{% static "img/credits/dev_princ/5ac7326ee7e04.jpg" %}"/>
										<div class="description">
											<h4>David Rouquet</h4>
											<p>
												<span class="firm"><a target="_blank" href="https://www.tetras-libre.fr/">Tetras Libre</a></span>
												Science et ingénierie des données<br/>
												Docteur en informatique
											</p>
										</div>
									</div>

									<div class="col-md-6">
										<img class="photo img-responsive" src="{% static "img/credits/dev_princ/5abba92d537f8.jpg" %}"/>
										<div class="description">
											<h4>Sébastien Curt</h4>
											<span class="firm"><a target="_blank" href="https://www.tetras-libre.fr/">Tetras Libre</a></span>
											<p>
												Systèmes et données<br/>
												Master en informatique
											</p>
										</div> 
									</div> 

									<div class="col-md-6">
										<img class="photo img-responsive" src="{% static "img/credits/dev_princ/5acdd7e6e42f6.jpg" %}"/>
										<div class="description">
											<h4>Félix Coudurier</h4>
											<a target="_blank" href="https://www.fecou.com/">Fecou</a>
											<p>
												Web design et expérience utilisateur (UX)<br/>
												Développeur front-end senior
											</p>
										</div> 
									</div>
									<div class="col-md-6">
										<img class="photo img-responsive" src="{% static "img/credits/dev_princ/5ac732e3371c1.jpg" %}"/>
										<div class="description">
											<h4>Stéphane Bonhomme</h4>
											<span class="firm"><a target="_blank" href="https://www.exselt.com/">Exselt</a></span>
											<p>
												Apprentissage automatique et ingénierie documentaire<br/>
												Docteur en informatique
											</p>
										</div>
									</div>
								</div>
							</div> 
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading2">
							<h4 class="panel-title">
								<a role="button" class="collapsed collapse-launcher" data-toggle="collapse" data-parent="#creditsCollapsable" href="#collapse2" aria-expanded="false" aria-controls="collapse2">Contributeurs</a>
							</h4>
						</div>
						<div id="collapse2" class="panel-collapse collapse contributeurs" role="tabpanel" aria-labelledby="heading2">
							<div class="panel-body">
								<div class="scrollable">
									<div class="row">
										<div class="col-sm-4">
											<h4>Alonso Cédric</h4>
											<p>
												Stagiaire - Tetras Libre
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading3">
							<h4 class="panel-title">
								<a role="button" class="collapsed collapse-launcher" data-toggle="collapse" data-parent="#creditsCollapsable" href="#collapse3" aria-expanded="false" aria-controls="collapse3">Partenaires</a>
							</h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse partenaires" role="tabpanel" aria-labelledby="heading3">
							<div class="panel-body">
								<div class="scrollable">
									<div class="row">
										<div class="col-sm-4">
											{% comment %} <h4>Demo-TIC</h4> {% endcomment %}
											<a target="_blank" href="https://demo-tic.org/" title="Demo-TIC"><img alt="logo Demo-TIC" src="{% static "img/credits/logo-demo-tic.png"%}"/></a>
											<p class="mgt">
												Association agissant pour le développement des logiciels libres à Grenoble 
											</p>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading4">
							<h4 class="panel-title">
								<a role="button" class="collapsed collapse-launcher" data-toggle="collapse" data-parent="#creditsCollapsable" href="#collapse4" aria-expanded="false" aria-controls="collapse4">Icônes Creative Commons</a>
							</h4>
						</div>
						<div id="collapse4" class="panel-collapse collapse icones-creative-commons" role="tabpanel" aria-labelledby="heading4">
							<div class="panel-body">
								<div class="scrollable">
									<div class="row">
										<div class="col-sm-4">
											<p>
												<img src="https://static.thenounproject.com/png/1461587-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/1461587/">moving truck #1461587</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/591018-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/591018/">Work #591018</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/1591399-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/1591399/">Award #1591399</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/637480-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/637480/">Family Outing #637480</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/1591401-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/1591401/">Award #1591401</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/678817-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/678817/">Mushrooms #678817</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/18851-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/18851/">Geothermal Energy #18851</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/533268-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/533268/">Cycling Road #533268</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/1362014-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/1362014/">solar battery #1362014</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/103206-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/103206/">Flower #103206</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/595106-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/595106/">Partly Sunny #595106</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/595106-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/595106/">Partly Sunny #595106</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/426743-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/426743/">achievement #426743</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/631380-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/631380/">Grass &amp; Flowers #631380</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/1221675-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/1221675/">selection #1221675</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/330258-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/330258/">Stroller #330258</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/935890-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/935890/">capabilities #935890</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/661781-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/661781/">Stroller #661781</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/935835-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/935835/">capabilities #935835</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/2552-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/2552/">Theater #2552</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/704739-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/704739/">Diploma #704739</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/332690-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/332690/">economic inequality #332690</a>
											</p>
											<p>
												<img src="https://static.thenounproject.com/png/8904-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/8904/">Layers #8904</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/662528-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/662528/">elderly assistant #662528</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/654721-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/654721/">Construction Crain #654721</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/636454-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/636454/">Doctor Checking Patient #636454</a>
											</p>

										</div>
										<div class="col-sm-4">

											<p>
												<img src="https://static.thenounproject.com/png/667508-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/667508/">layer #667508</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/632704-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/632704/">Central Heating #632704</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/124304-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/124304/">Crane #124304</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/10486-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/10486/">City #10486</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/575953-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/575953/">Nurse #575953</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/583675-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/583675/">France #583675</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/659293-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/659293/">Office #659293</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/586844-200.png"/>
												<span>clock #586844</span>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/465533-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/465533/">family house #465533</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/583207-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/583207/">gardening #583207</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/740768-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/740768/">House #740768</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/221449-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/221449/">pointing #221449</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/620038-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/620038/">House Front Door #620038</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/650058-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/650058/">Price Tag #650058</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/20216-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/20216/">City #20216</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/4364-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/4364/">Bridge Not Affected #4364</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/12759-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/12759/">City #12759</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/397922-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/397922/">Election Speech #397922</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/38880-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/38880/">Woman #38880</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/2373-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/2373/">Protest #2373</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/533062-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/533062/">Woman #533062</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/83108-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/83108/">Fish #83108</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/636454-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/636454/">Doctor Checking Patient #636454</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/198584-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/198584/">Fish #198584</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/235407-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/235407/">girl #235407</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/507863-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/507863/">Fish #507863</a>
											</p>

										</div>
										<div class="col-sm-4">

											<p>
												<img src="https://static.thenounproject.com/png/693241-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/693241/">topler #693241</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/22410-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/22410/">creek #22410</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/635072-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/635072/">Mother Child #635072</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/10460-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/10460/">trees #10460</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/637478-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/637478/">Child holding Balloon #637478</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/3838-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/3838/">Waterfall #3838</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/207010-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/207010/">Professional Journalist #207010</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/383774-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/383774/">fishbone #383774</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/3690-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/3690/">person #3690</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/149843-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/149843/">fossil fuel #149843</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/78477-200.png"/>
												<span>boy #78477</span>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/23821-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/23821/">Biohazard #23821</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/45952-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/45952/">Briefcase #45952</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/55189-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/55189/">Ribbon #55189</a>
											</p>


											<p>
												<img src="https://static.thenounproject.com/png/574067-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/574067/">Photo Area #574067</a>
											</p>


											<p>
												<img src="https://static.thenounproject.com/png/25090-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/25090/">Spotlight #25090</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/353486-200.png"/>
												<span>Electric track #353486</span> 
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/557241-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/557241/">creek #557241</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/57823-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/57823/">Street Light #57823</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/25100-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/25100/">Outfall #25100</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/3121-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/3121/">Toilet #3121</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/62896-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/62896/">Toilet #62896</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/4220-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/4220/">Water Sanitation #4220</a>
											</p>

											<p>
												<img src="https://static.thenounproject.com/png/9645-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/9645/">Toilet #9645</a>
											</p>
											<p>
												<img src="https://static.thenounproject.com/png/4335-200.png"/>
												<a target="_blank" HREF="https://thenounproject.com/icon/4335/">sanitation #4335</a>
											</p>
										</div>
									</div> 
								</div> 
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading6">
							<h4 class="panel-title">
								<a role="button" class="collapsed collapse-launcher" data-toggle="collapse" data-parent="#creditsCollapsable" href="#collapse6" aria-expanded="false" aria-controls="collapse6">Technologies Utilisées</a>
							</h4>
						</div>
						<div id="collapse6" class="panel-collapse collapse technologies-utilisees" role="tabpanel" aria-labelledby="heading6">
							<div class="panel-body">
								<div class="scrollable">
									<div class="row">
										<div class="col-sm-3">
											<a target="_blank" title="Bootstrap" href="https://getbootstrap.com/docs/3.3/">
												<img alt="Bootstrap" src="{% static "img/credits/bootstrap-logo-vector-download.jpg"%}"/>
											</a>

										</div>
										<div class="col-sm-3">

										</div>
										<div class="col-sm-3">

										</div>
										<div class="col-sm-3">

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>