/* Fecou less */

.test {
	display: block;
}

/* ==========================================
Imports
========================================== */
@import "@{theme}/variablesAndFonctions.less";


/* ==========================================
Généralités
========================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	//margin: 0;
	//padding: 0;
	//border: 0;
}

body {
	font-size:@font-size-base;
	font-family: @texteFontFamily;
	text-rendering: optimizeLegibility;
  color:@baseFontColor;
	@file: "fonds/pattern-grey.png";
	background: url( "@{baseUrlForImages}@{file}" ) repeat scroll 0 bottom transparent;
	background-size: 8px 4px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @hsFontFamily;
	font-weight: @hsFontWeight;
	color: @hsColor;
	text-rendering: optimizelegibility; // Fix the character spacing for headings
	small {
		font-weight: normal;
		color: @gray-light;
	}
}
h1 {
	//margin-bottom: 0.7em;
	//font-size: 2.5em;
}
h2 {
	//margin: 0.6em 0 0.4em 0;
}
h3, h4, h5, h6 {
	//line-height: 1.4em;
}

p {
	text-align: left;
}
li {
	//list-style-type: none;
}
a, a:link {
	color: @linkColor;
	//text-decoration: none;
}
a:visited {
	color: @linkColor;
	//text-decoration: none;
}
a:hover, a:active {
	color: @linkColorHover;
	text-decoration: underline;
}

@media (max-width: 1199px) {  .visible-largeDesktop { display:none; }}
@media (min-width: 1200px) {  .hidden-largeDesktop { display:none; }}

img {
}

section {
}

.mgt { // margin top
	margin-top: 15px;
}
.mgb { // margin bottom
	margin-bottom: 15px;
}
.pdt { // padding top
	padding-top: 15px;
}
.pdb { // padding bottom
	padding-bottom: 15px;
}
.ch { //center horizontaly
	margin-left: auto;
	margin-right:auto;
	display:block;
}

.btn-fecou, a.btn-fecou {
	//@file: "fonds/menuGaucheButtonBgInactive.png";
	//background: url( "@{baseUrlForImages}@{file}" ) repeat scroll transparent;
	#gradient > .vertical( lighten(@hoverLogo, 5%); darken(@hoverLogo, 5%) );
	color:@blanc !important;
	border: none !important;
	.box-shadow-color(1px 2px 3px 1px, 0.3);
	&:hover, &:active, &:focus {
		//@file: "../../images/fonds/menuGaucheButtonBgActive.png";
		//background: url( "@{baseUrlForImages}@{file}" ) repeat scroll transparent;
		#gradient > .vertical( lighten(@bgsLogo, 10%); @bgsLogo );
		color:@blanc;
		cursor: pointer !important;
	}
}


.no-min-height {
	min-height: inherit !important;
}

html {
	position: relative;
	min-height: 100%;
	.IE9-only {
		display:none;
	}
	&.lt-ie10 .IE9-only {
		display:block;//visible seulement pour IE lt 9
	}
}



/* ==========================================
Admin
========================================== */



/* ==========================================
Content
========================================== */


body {
	padding-top: 70px;
}

	/* ==== Navigation ==== */
	.navbar-elocus {
	    background-color: @bgsLogo;
	    border-color: darken(@minorLogo, 20%);
	    border-top: 1px solid darken(@minorLogo, 20%);
	    margin-bottom: 0;

	    ul {
		    li a {
		    	color: @linkColor;
		    	&:hover, &:focus {
		    		//color: @hoverLogo;
		    		color: @blanc;
		    		background: @btnBg;
		    	}
		    }
	    }

	    button.navbar-toggle {
	    	padding: 6px 11px;
	    	border-color: #ccc;
	    }

	    .navbar-nav {
			padding-right: 10px;
			padding-top: 0px;
			li.notifications-trigger {
				&.active a {
					color: @hoverLogo;
				}
				&:hover {
					background-color: @hoverLogo;
					a {
						color: @blanc;
					}
				}
			}
		}

	    .navbar-brand img {
		    position: relative;
		    top: -10px;
		}

	    .dropdown {
	    	a.dropdown-toggle {
	    		&.active {
	    			color: @linkColorActive;
	    			&:hover {
		    			color: @blanc;
		    		}
	    		}
	    		i {
	    			color: @blanc;
	    			&:hover {
		    			color: @baseFontColor;
		    		}
	    		}

	    	}
	    	ul.dropdown-menu {
	    		& > .active > a, & > .active > a:hover, & > .active > a:focus {
					background-color: @btnBg;
					color: @blanc;
				}
				&  > li > a:hover {
					color: @blanc;
				}
				i {
					color: @baseFontColor;
				}
	    	}
	    	&.open {
	    		a.dropdown-toggle, a.dropdown-toggle.active {
		    		color: @blanc;
		    		background-color: @btnBg;
		    		.box-shadow(inset 0 1px 3px 0px rgba(0,0,0,0.4));
		    		i {
		    			color: @blanc;
		    		}
		    	}
	    	}
	    }

		.navbar-form {
			padding-right: 0;
		}

		.navbar-btn {
			margin-left: 8px;
		}
		.btn {
			background-color: @blanc;
			color: @btnBg;
			&:hover, a:hover, &:hover i {
	    		color: @blanc;
	    		background-color: @btnBg;
	    	}
		}
		.dropdown a .caret {
			color: @blanc;
		}
	}
	div.text-generique {
		//*** tmp
		display: none;
		//
		position:absolute;
		right: 0;
		top:50px;
		font-size:@ftSz_14px;
		color:@blanc;
		background-color:@grisFoncePlus;
		height:25px;
		line-height: 1.6em;
		padding: 0 1em;
		z-index:0;
		font-style: italic;
		font-family: @font-family-serif;
		&:before {
			//*** tmp
			display: none;
			//
			width:1px;
			height:1px;
			position:absolute;
			left:-25px;
			z-index:-1;
			content:"";
			border:1px solid @grisFoncePlus;
			border-color: @grisFoncePlus transparent transparent transparent;
			border-width:25px;
		}
	}


	/* ==== Left menus ==== */

	#openNavBtn, #closeNavBtn {
		float: left;
		color: @linkColor;
		margin-right: 1.5em;
	}
	#openNavBtn {
		display: none;
	}
	#closeNavBtn {
		display: block;
	}


	/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
	#reportContent {
	    transition: margin-left .4s;
	    &.no-transition {
	    	transition: 0s; /* transition effect to slide in the sidenav */
	    }
		margin-left: 0px; /* 300px - change this with JavaScript */
		@media (max-width: @screen-xs-max) {
			margin-left: 0 !important;
		}
	}



	.sidenav { /* The side navigation menu */
		height: 100%; /* 100% Full-height */
		width: 300px;
		left: 0px; /* 0px - change this with JavaScript */
		position: fixed; /* Stay in place */
		z-index: 1; /* Stay on top */
		top: 0;
		left: 0;
		overflow-x: hidden; /* Disable horizontal scroll */
		padding-top: 60px;
		transition: 0.4s; /* transition effect to slide in the sidenav */
		&.no-transition {
			transition: 0s; /* transition effect to slide in the sidenav */
		}
		&.xs-menu {
			padding-top: 0;
			position: relative;
			width: 100%;
		}

		.panel {
			margin: 15px 0;
			background-color: fadeout(@grisClair, 60%);
			.panel-heading, .panel-title {
				h4 {
					margin-top: 0;
					font-size: @font-size-h4 * 0.9;
					a {
						color: @altLogo;
						font-size: 1.1em;
						&:hover {
							color: @hoverLogo;
						}
					}
				}
				padding-top: 10px;
				padding-bottom: 3px;
			}

			.panel-body {
				h4 {
					margin-top: 0;
					a {
						color: @hoverLogo;
						font-size: 1.1em;
					}
				}

			    .btn-group {
			    	> a {
			    		i {
			    			color: @baseFontColor;
			    			&:hover {
				    			color: @blanc;
				    		}
			    		}
			    		&:hover {
				    			color: @blanc;
				    			background-color: @linkColorActive;
				    			i {
				    				color: @blanc;
				    			}
			    		}
			    	}
	    		}

			    .dropdown {
					button {
						padding-left: 7px;
						padding-right: 4px;

					}
					button:hover, &.open button {
							background-color: @linkColorActive;
							i, .caret {
								color: @blanc;
							}
					}
			    	> ul.dropdown-menu {
			    		/*& > .active > a, & > .active > a:hover, & > .active > a:focus {
							background-color: @btnBg;
							color: @blanc;
						}
						> li > a:hover {
							color: @blanc;
						}
						i {
							color: @baseFontColor;
						}*/
						li {
							a {
								padding: 4px 12px;
								text-align: left;
								border: none;
								border-radius: inherit;
								&:hover {
									background-color: @linkColorActive;
									color: @blanc;;
								}
								i {
									margin-right: 1em;
								}

							}
						}
			    	}
			    	&.open {
			    		a i, a .caret {
			    			color: @blanc;
			    		}
			    		a.dropdown-toggle, a.dropdown-toggle.active {
				    		color: @blanc;
				    		background-color: @btnBg;
				    		.box-shadow(inset 0 1px 3px 0px rgba(0,0,0,0.4));
				    	}
			    		ul.dropdown-menu {
							a i {
								color: @baseFontColor;
							}
							a:hover i {
			    				color: @blanc;
			    			}
				    	}
			    	}
	    		}

			}
			.panel-footer  {
				padding: 0;
				.list-group-item {
					background-color: @grisClairPlusPlus;
					&.active {
						//background-color: @linkColorActive;
						color: @linkColorActive;
						border-color: #ddd;
						//cursor: default;
					}
					&:hover {
						background-color: @linkColorActive;
						color: @blanc;
					}
					&:first-child {
					  border-top-left-radius: 0;
					  border-top-right-radius: 0;
					}
					&:last-child {
					  border-top-left-radius: 0;
					  border-top-right-radius: 0;
					}
					@basePositionDec: 50px;
					&:before {
						@file: "sprite.png";
						background: url( "@{baseUrlForImages}@{file}" ) no-repeat scroll transparent;
						background-size: @basePositionDec * 18 @basePositionDec * 6;
						content: "";
						display: block;
						float: left;
						height: 18px;
						margin-left: -5px;
						margin-right: 7px;
						position: relative;
						top: 0;
						width: 18px;
					}
					&.bien-etre:before {
						background-position: @basePositionDec * -17 @basePositionDec * 0;
					}
					&.economie:before {
						background-position: @basePositionDec * -16 @basePositionDec * 0;
					}
					&.education:before {
						background-position: @basePositionDec * -15 @basePositionDec * 0;
					}
					&.energie:before {
						background-position: @basePositionDec * -14 @basePositionDec * 0;
					}
					&.environnement:before {
						background-position: @basePositionDec * -13 @basePositionDec * 0;
					}
					&.evolution:before {
						background-position: @basePositionDec * -12 @basePositionDec * 0;
					}
					&.immobilier:before {
						background-position: @basePositionDec * -11 @basePositionDec * 0;
					}
					&.logement:before {
						background-position: @basePositionDec * -10 @basePositionDec * 0;
					}
					&.meteo:before {
						background-position: @basePositionDec * -9 @basePositionDec * 0;
					}
					&.politique:before {
						background-position: @basePositionDec * -8 @basePositionDec * 0;
					}
					&.sante:before {
						background-position: @basePositionDec * -7 @basePositionDec * 0;
					}
					&.ski:before {
						background-position: @basePositionDec * -6 @basePositionDec * 0;
					}
					&.social:before {
						background-position: @basePositionDec * -5 @basePositionDec * 0;
					}
					&.sport:before {
						background-position: @basePositionDec * -4 @basePositionDec * 0;
					}
					&.technologie:before {
						background-position: @basePositionDec * -3 @basePositionDec * 0;
					}
					&.tourisme:before {
						background-position: @basePositionDec * -2 @basePositionDec * 0;
					}
					&.transport:before {
						background-position: @basePositionDec * -1 @basePositionDec * 0;
					}
				}
			}
			.panel-footer .btn-sm-dropdown{
				font-size: 12px;
			}

		}


		a.elocus-action-update-data, a.dropdown-toggle {
			color: @linkColor;
		}
	}

	/* ==== Main content ==== */

	.page-content {

		/* page-header */
		div.page-header {
			margin: 15px 0 10px 0;
			border: none;
			.pagetitle {
				margin-top: 10px;
			}
			.breadcrumb {
				padding-left: 5px;
				font-family: @font-family-serif;
			}
		}

		/* breadcrumb, fil d'ariane */
		div.breadcumb-wrapper {
			padding: 1em;
		}
		ol.breadcrumb {
			background-color: transparent;
			margin-top: 0em;
			margin-bottom: 0em;
			padding: 0em;
			li.last {
				color: @linkColorActive;
			}
		}

		/* titre */
		.jumbotron {
			padding: 1px 30px 10px 30px;
			background-color: fadeout(@grisClair, 60%);
			h1 {
				font-size: 45px;
				a:hover {
					color: @bgsLogo;
				}
			}
		}

		.report h2 {
			color: @blanc;
			background-color: fadeout(@grisClair, 60%);
			border-radius: @border-radius-base;
			padding: 10px 20px 10px 20px;
			margin-top: -3px;
			margin-bottom: 22px;
			&:before {
				@file: "sprite.png";
				background: url( "@{baseUrlForImages}@{file}" ) no-repeat scroll transparent;
				background-position: 0px 0px;
				background-size: 900px 300px;
				content: "";
				display: block;
				float: left;
				height: 35px;
				margin-left: 0;
				margin-right: 20px;
				position: relative;
				top: -1px;
				width: 35px;
			}
			&.bien-etre {
				background-color: fadeout(@bien-etre, 10%);
				&:before { background-position: -850px -50px; }
			}
			&.economie {
				background-color: fadeout(@economie, 10%);
				&:before { background-position: -800px -50px; }
			}
			&.education {
				background-color: fadeout(@education, 10%);
				&:before { background-position: -750px -50px; }
			}
			&.energie {
				background-color: fadeout(@energie, 10%);
				&:before { background-position: -700px -50px; }
			}
			&.environnement {
				background-color: fadeout(@environnement, 10%);
				&:before { background-position: -650px -50px; }
			}
			&.evolution {
				background-color: fadeout(@evolution, 10%);
				&:before { background-position: -600px -50px; }
			}
			&.immobilier {
				background-color: fadeout(@immobilier, 10%);
				&:before { background-position: -550px -50px; }
			}
			&.logement {
				background-color: fadeout(@logement, 10%);
				&:before { background-position: -500px -50px; }
			}
			&.meteo {
				background-color: fadeout(@meteo, 10%);
				&:before { background-position: -450px -50px; }
			}
			&.politique {
				background-color: fadeout(@politique, 10%);
				&:before { background-position: -400px -50px; }
			}
			&.sante {
				background-color: fadeout(@sante, 10%);
				&:before { background-position: -350px -50px; }
			}
			&.ski {
				background-color: fadeout(@ski, 10%);
				&:before { background-position: -300px -50px; }
			}
			&.social {
				background-color: fadeout(@social, 10%);
				&:before { background-position: -250px -50px; }
			}
			&.sport {
				background-color: fadeout(@sport, 10%);
				&:before { background-position: -100px -50px; }
			}
			&.technologie {
				background-color: fadeout(@technologie, 10%);
				&:before { background-position: -150px -50px; }
			}
			&.tourisme {
				background-color: fadeout(@tourisme, 10%);
				&:before { background-position: -100px -50px; }
			}
			&.transport {
				background-color: fadeout(@transport, 10%);
				&:before { background-position: -50px -50px; }
			}

		}


		/* widgets container */
		div.report div.panel-group > div.panel {
			@file: "fonds/pattern-grey.png";
			background: url( "@{baseUrlForImages}@{file}" ) repeat scroll 0 bottom transparent;
			background-size: 8px 4px;
		}

		/* ==== Widgets, topics, components ==== */
		div.components {
			height: 100%;
			font-size: 1em;
			@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
				font-size: 0.92em;
			}
			@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
				font-size: 0.87em;
			}
			@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
				font-size: 0.8em;
			}
			table.table {
				margin-bottom: 0;
			}

		}

		/* widgets dans widgets-container */
		@gap-widget : 0.3em;
		div.panel div.section-content {
			div.panel-body {
				padding: @gap-widget;
				min-height: 19em;
				div.widget {
					padding: @gap-widget * 2;
					div.panel {
						border: thin solid @grisClairPlus;
						border-radius: 0;
						margin-bottom: 0;
						div.panel-heading, div.panel-footer {
							border-radius: 0;
							background-color: @grisClairPlusPlus;
						}
						div.panel-body {
							padding: @gap-widget;
						}
					}
				}
			}
		}

		/* widgets hors widgets-container */
		div.topics div.widget > div.topic > div.panel {
			div.panel-body {
				padding: @gap-widget;
				min-height: 19em;
			}
		}

		/* wysiwyg */
		div.wysiwyg-wrapper {
			margin: 0px;
		}

	} // /.main

	/* ==== Right menus ==== */

	/* ==== Footer ==== */
	@footerHeight: 40px ;
	body {
		/* Margin bottom by footer height */
	  	margin-bottom: @footerHeight;
	}

	.footer {
	    position: absolute;
		z-index: 1000;
	    bottom: 0;
	    width: 100%;
	    /* Set the fixed height of the footer here */
	    height: @footerHeight;
	    background-color: darken(@bgsLogo, 10%);
	    padding: 0.6em 0 ;
		.powered_eLocus {
			color: lighten(desaturate(@altLogo, 7%), 7%);
		}
		a {
			color: darken(@linkColor, 10%);
			&:hover {
				color: @blanc;
			}
		}
		a.footer-link {
			margin: 0 0.5em;
		}
		.footer-right {
	    	float: right;
	    }
		.copyright {
	    	color: @blanc;
	    	float: right;
	    	font-size: 0.9em;
	    }
	}

	// Modals
	.modal {
		// Crédits
		&.credits, &.mentions-legales {
			.collapse-launcher {
				font-size: @font-size-h4 * 1.1;
			}

			.scrollable{
				overflow-x: hidden; 
				overflow-y:auto; 
				max-height:250px
			}
			.developpeurs-principaux {
				img {
					.make-md-column(4);
				}
				.description {
					.make-md-column(8);
					padding-bottom: 1em;
					h4 {
						margin-top: 0;
					}
					.firm {
						width: 100%;
						display: inline-block;
					}
				}
			}
			.partenaires img {
				height: 50px;
				.img-responsive();
			}
			.icones-creative-commons img {
				height: 25px;
			}
			.technologies-utilisees a {
				text-align: center;
				width: 100%;
				display: inline-block;
				img {
					height: 60px;
					//.img-responsive();
				}
			} 
				

		}
	}

	// Bouton retour haut de page
	#toTop {
		position:fixed;
		bottom:0px;
		right: 10px;
		a#topTopLink {
			width:40px;
			height:40px;
			display:none;
			&:hover {
				//color:transparent;
			}
			&:focus {
				outline:none;
			}
		}
	}

	// Social Buttons
	ul.social-buttons {
	    margin-bottom: 0;
	    text-align: right;
	    @socialButtonsHeight: 30px;
	    li {
	        a {
	            display: block;
	            background-color: @noirClair;
	            height: @socialButtonsHeight;
	            width: @socialButtonsHeight;
	            border-radius: 100%;
	            font-size: 20px;
	            line-height: @socialButtonsHeight;
	            color: @btnBg;
	            outline: none;
	            text-align: center;
	            -webkit-transition: all 0.3s;
	            -moz-transition: all 0.3s;
	            transition: all 0.3s;
	            &:hover,
	            &:focus,
	            &:active {
	                background-color: @linkColorHover;
	                color: @blanc;
	            }
	        }
	    }
	}

	/* ==== Charts ==== */

	.fill {
		.loop-chart-fill-color(@counter) when (@counter >= 0) {
			.loop-chart-fill-color((@counter - 1));    // next iteration
			&.color-@{counter} {
				@fillClass : 'fillColor@{counter}';
				fill: @@fillClass;
			}
		}
		.loop-chart-fill-color(4); // launch the loop
	}
	.stroke {
		.loop-chart-stroke-color(@counter) when (@counter >= 0) {
			.loop-chart-stroke-color((@counter - 1));    // next iteration
			&.color-@{counter} {
				@strokeClass : 'fillColor@{counter}';
				stroke: @@strokeClass;
			}
		}
		.loop-chart-stroke-color(4); // launch the loop
	}

	/* ==== Wysiwyg ==== */
	.description-editor {
    	max-height:20px
    }

	/* ==== Notifications ==== */
	#notifications {
		.modal-header {
			//text-align: center;
		}
    	.modal-body ul.notifications {
			padding-left:0;
			> li {
				border: none;
				margin-bottom: 1em;
				.timesince {
					color: @grisClair;
				}
			}
		}
    }
/* ==========================================
Media queries
========================================== */
/* @media examples
@screen-xs-min : phone, 480px, @screen-sm-min : tablet, 768px , @screen-md-min : desktop, 992px, @screen-lg-min : large, 1200px;
@screen-xs-max: (@screen-sm-min - 1);
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {}
*/

@media (min-width: @screen-lg-min) {
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
}



/* ==========================================
Page d'home-report
========================================== */

@import "pageDAccueil.less";

/* ==========================================
Page d'home-report
========================================== */

@import "public.less";


/* ==========================================
Reseaux sociaux
========================================== */


/* ==========================================
IE10-IE11
========================================== */
/* ne semble pas marcher, mais c'est pas grave
cf. http://www.impressivewebs.com/ie10-css-hacks/
cf. http://css-tricks.com/ie-10-specific-styles/ */
html.ie10 {
	.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
		width: inherit;
	}
}


