/* ==========================================
Page d'home-report (éléments relatifs aux pages d'home-report)
========================================== */

.page-content .home-report, .page-content .home-general {


    // Custom Colored Panels
    .teaser-project.panel, .teaser-section.panel {
        margin-bottom: 30px;
        cursor: pointer;
        .panel-heading, .panel-body {
            h3.panel-title {
                font-size: @font-size-h3 !important;
                color: white;
            }
            border-color: @grisClair;
            background-color: @grisFoncePlus;
            min-height: 55px;
            color: white;
            .huge {
                font-size: 30px;
            }
        }
        .panel-heading {
        }
        .panel-body {
            ul {
                padding-left: 1em;
                li {
                    list-style: none;
                    i {
                        color: @grisFonce;
                    }
                }
            }
        }
        &.home-general .panel-body {
          background-color: transparent !important;
        }
        a {
            color: @linkColor;
            &:hover {
                color: @linkColorHover;
            }
        }

        &.bien-etre .panel-body, &.bien-etre .panel-heading {
            background-color: fadeout(@bien-etre, 10%);
        }
        &.economie .panel-body, &.economie .panel-heading {
            background-color: fadeout(@economie, 10%);
        }
        &.education .panel-body, &.education .panel-heading {
            background-color: fadeout(@education, 10%);
        }
        &.energie .panel-body, &.energie .panel-heading {
            background-color: fadeout(@energie, 10%);
        }
        &.environnement .panel-body, &.environnement .panel-heading {
            background-color: fadeout(@environnement, 10%);
        }
        &.evolution .panel-body, &.evolution .panel-heading {
            background-color: fadeout(@evolution, 10%);
        }
        &.immobilier .panel-body, &.immobilier .panel-heading {
            background-color: fadeout(@immobilier, 10%);
        }
        &.logement .panel-body, &.logement .panel-heading {
            background-color: fadeout(@logement, 10%);
        }
        &.meteo .panel-body, &.meteo .panel-heading {
            background-color: fadeout(@meteo, 10%);
        }
        &.politique .panel-body, &.politique .panel-heading {
            background-color: fadeout(@politique, 10%);
        }
        &.sante .panel-body, &.sante .panel-heading {
            background-color: fadeout(@sante, 10%);
        }
        &.ski .panel-body, &.ski .panel-heading {
            background-color: fadeout(@ski, 10%);
        }
        &.social .panel-body, &.social .panel-heading {
            background-color: fadeout(@social, 10%);
        }
        &.sport .panel-body, &.sport .panel-heading {
            background-color: fadeout(@sport, 10%);
        }
        &.technologie .panel-body, &.technologie .panel-heading {
            background-color: fadeout(@technologie, 10%);
        }
        &.tourisme .panel-body, &.tourisme .panel-heading {
            background-color: fadeout(@tourisme, 10%);
        }
        &.transport .panel-body, &.transport .panel-heading {
            background-color: fadeout(@transport, 10%);
        }

        //ceci est une fonction recursive pour générer les classes bg-custom-color-{i} pour la page d'home-report générale:
        .generate-bg-by-class(17);
        .generate-bg-by-class(@n, @i: 1) when (@i =< @n) {
            &.bg-custom-color-@{i} .panel-body, &.bg-custom-color-@{i} .panel-heading {
                @string:replace('custom-color-1','1','@{i}');
                background-color: @@string;
            }
            .generate-bg-by-class(@n, (@i + 1));
        }

        .picto {
            @basePositionDec: 66.6px;
            @file: "sprite.png";
            background: url( "@{baseUrlForImages}@{file}" ) no-repeat scroll transparent;
            background-position: 0px 0px;
            background-size: @basePositionDec * 18 @basePositionDec * 6;
            display: block;
            height: @basePositionDec * 0.72;
            width: @basePositionDec * 0.72;


            &.bien-etre {
                background-position: @basePositionDec * -17 @basePositionDec * -1;
            }
            &.economie {
                background-position: @basePositionDec * -16 @basePositionDec * -1;
            }
            &.education {
                background-position: @basePositionDec * -15 @basePositionDec * -1;
            }
            &.energie {
                background-position: @basePositionDec * -14 @basePositionDec * -1;
            }
            &.environnement {
                background-position: @basePositionDec * -13 @basePositionDec * -1;
            }
            &.evolution {
                background-position: @basePositionDec * -12 @basePositionDec * -1;
            }
            &.immobilier {
                background-position: @basePositionDec * -11 @basePositionDec * -1;
            }
            &.logement {
                background-position: @basePositionDec * -10 @basePositionDec * -1;
            }
            &.meteo {
                background-position: @basePositionDec * -9 @basePositionDec * -1;
            }
            &.politique {
                background-position: @basePositionDec * -8 @basePositionDec * -1;
            }
            &.sante {
                background-position: @basePositionDec * -7 @basePositionDec * -1;
            }
            &.ski {
                background-position: @basePositionDec * -6 @basePositionDec * -1;
            }
            &.social {
                background-position: @basePositionDec * -5 @basePositionDec * -1;
            }
            &.sport {
                background-position: @basePositionDec * -4 @basePositionDec * -1;
            }
            &.technologie {
                background-position: @basePositionDec * -3 @basePositionDec * -1;
            }
            &.tourisme {
                background-position: @basePositionDec * -2 @basePositionDec * -1;
            }
            &.transport {
                background-position: @basePositionDec * -1 @basePositionDec * -1;
            }

        }

    }


    // Pour les indicateurs à la une
    &.star-topics .row .panel {
        border-color: @grisClair;
        .panel-heading {
            color: @baseFontColor;
            background-color: @grisClairPlusPlus;
            border-color: @grisClair;
        }

        .picto {
            @smBasePositionDec: 66.6px;
            &.bien-etre {
                background-position: @smBasePositionDec * -17 @smBasePositionDec * -1;
            }
            &.economie {
                background-position: @smBasePositionDec * -16 @smBasePositionDec * -1;
            }
            &.education {
                background-position: @smBasePositionDec * -15 @smBasePositionDec * -1;
            }
            &.energie {
                background-position: @smBasePositionDec * -14 @smBasePositionDec * -1;
            }
            &.environnement {
                background-position: @smBasePositionDec * -13 @smBasePositionDec * -1;
            }
            &.evolution {
                background-position: @smBasePositionDec * -12 @smBasePositionDec * -1;
            }
            &.immobilier {
                background-position: @smBasePositionDec * -11 @smBasePositionDec * -1;
            }
            &.logement {
                background-position: @smBasePositionDec * -10 @smBasePositionDec * -1;
            }
            &.meteo {
                background-position: @smBasePositionDec * -9 @smBasePositionDec * -1;
            }
            &.politique {
                background-position: @smBasePositionDec * -8 @smBasePositionDec * -1;
            }
            &.sante {
                background-position: @smBasePositionDec * -7 @smBasePositionDec * -1;
            }
            &.ski {
                background-position: @smBasePositionDec * -6 @smBasePositionDec * -1;
            }
            &.social {
                background-position: @smBasePositionDec * -5 @smBasePositionDec * -1;
            }
            &.sport {
                background-position: @smBasePositionDec * -4 @smBasePositionDec * -1;
            }
            &.technologie {
                background-position: @smBasePositionDec * -3 @smBasePositionDec * -1;
            }
            &.tourisme {
                background-position: @smBasePositionDec * -2 @smBasePositionDec * -1;
            }
            &.transport {
                background-position: @smBasePositionDec * -1 @smBasePositionDec * -1;
            }

        }

    } // / fin Pour les indicateurs à la une

}


/*

  bien-etre **
  economie **
  education **
  energie **
  environnement **
  evolution **
  immobilier **
  logement **
  meteo **
  politique **
  sante **
  ski **
  social **
  sport **
  technologie **
  tourisme **
  transport **


*/
