/* ==========================================
Public (éléments relatifs aux pages partagées)
========================================== */

/* ==== Main content ==== */

.page-content {

  /* rapport */
  div.report.public {

    /* wysiwyg */
    div.wysiwyg-wrapper {
      margin: 15px;
    }
  } // / fin rapport

}
