{% extends "basemenufix.html" %}
{% load timetags %}

{% block title %}Synchronisation{% endblock %}
{% block current_tools %}menu-current{% endblock %}
{% block help-topic %}synchro{% endblock %}

{% block extrascripts %}
    <script src="/static/js/kolekti-synchro.js"></script>
{% endblock %}

{# no repository #}
{#
<div class="alert alert-warning">
  <h3>Aucun dépôt configuré</h3>
  <p>Vous ne bénéficiez pas des fonctions collaboratives de Kolekti</p>
  <p>Entrez l'adresse du serveur SVN</p> 
  <p>Contactez-nous pour un 
 <form method="POST">
    input type
</form>
#}


{# history #}
{% block menu %}
    <div class="panel panel-default">
      <div class="panel-heading">
	<h3>Historique</h3>
      </div>
      
      <div class="panel-body history">
	{% for commit in history %}
	<div class="record">
	  <p class="commitinfo">
	    <span class='rev label label-info'>{{commit.revision.number}}</span>
	    <span class="date">{{commit.date|print_timestamp}}</span>
	    <span class="author pull-right">{{commit.author}}</span>
	  </p>
	  <p class="msg">{{commit.message}}</p>
	  <p class="link">  
	    <a href="/sync/revision/{{commit.revision.number}}/">détails</a>
	  </p>
	</div>
	{% endfor %}
      </div>
    </div>
{% endblock %}



{% block content %}

<div class="main">
  {% block operation %}{% endblock %}
  {% block nextsteps %}{% endblock %}
  <div class="modal" id="modal_processing">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
	<div class="modal-header">
	  <h4 class="modal-title">Synchronisation en cours</h4>
	</div>
	<div class="modal-body">
	  <div class="alert alert-info" role="alert">
	    <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
	    Connexion au serveur svn, cette opération peut prendre quelques instants. <br/>
	    Cette fenêtre sera réactualisée quand l'opération sera terminée.
	  </div>
	</div>
      </div>
    </div>
  </div>
  
</div>

{% endblock %}
