//*** ajouté pour modifs spécifiques


@cielLogo : rgb(0,177,216);
@marineLogo: rgb(30,75,99);
@orangeLogo: rgb(243,101,42);

// --- glyphicons path
//pour less compilé avec less.js en version debug (dans le corps du fichier)
//@icon-font-path:          "http://localhost/web/certifAC/sites/all/themes/fecou_bootstrap_dr_subtheme/fonts/";
//pour précompiler less dans css/bootstrap.css et pour less compilé avec less.js dans home-report.html
@icon-font-path:          "../fonts/";




//** Global textual link color.
@link-color:            @cielLogo;
//** Link hover color set via `darken()` function.
@link-hover-color:      @orangeLogo;


//border-radius
@border-radius-base: 0px;

//backgrounds wells 
@background-color: #fbfbfb;
@well-bg: @background-color;
@well-border: #ddd;
@panel-bg: @background-color;
@panel-default-heading-bg: @background-color;






