<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/ckeditor/ckeditor.js"></script>
    <title>{{ title }}</title>

  </head>
  <body>
    <form method="POST">
      <textarea name="editor1" id="editor1" rows="100" cols="80">
	{{ body|safe }}
      </textarea>
    </form>
    <script src="/settings.js"></script>
    <script src="/static/jquery.js"></script>
    <script src="/static/js/kolekti-utils.js"></script>
    <script src="/static/js/kolekti-common.js"></script>
    <script src="/static/js/kolekti-topicedit.js"></script>
  </body>
</html>
