/* ==========================================
Surcharge pour le thème (éléments relatifs aux pages d'home-report)
========================================== */
// test
@import "colors.less";


// MENU //

.navbar-elocus {
    ul.navbar-nav {
        li a {
            color: @blanc;
            &:hover, &:focus {
                color: @blanc;
                background: @hoverLogo;
            }
        }
    }
    .dropdown {
        ul.dropdown-menu li a{

                color: @bleutourisme;

            i {
                color: @bleutourisme;
            }
        }
    }
    .btn {
        background-color: @bleutourisme;
        color: @blanc !important;
    }
    .dropdown a .caret {
        color: @blanc;
    }
}

.navbar-elocus .dropdown a.dropdown-toggle.active{
color:@blanc;
}


// PANEL //
.sidenav .panel{
    margin-top: 47px;
}
.sidebar .panel-body{
    border:solid 1px;
    border-color :#CCCCCC;
    margin-top: 20px;
}
.panel-title{
    color: @bleutourisme;
}
.panel-body .btn-group p{
    color: @hoverLogo;

}
.navbar-elocus .navbar-nav li.notifications-trigger.active a{
   color:@blanc; 
}

// SUPPRESSION DU FIL D'ARIANE //
a.ariane_active{
    color : @bleutourisme !important;
     text-decoration: underline ;
}
.page-content div.page-header .breadcrumb{
    display: none;
}
.page-header{
    padding-bottom: 0;
}
.sidenav{
    padding-top: 70px;
}

// SIDEBAR //

.sidenav .panel .panel-body .btn-group a i{
    color:@bleutourisme;
}
.sidenav .panel .panel-body .dropdown button{
    color:@bleutourisme; 
}

#exportToFile{
    color: @hoverLogo;
}
.btn-default:hover{
    color: @hoverLogo;
}
.mgb p{
    color: @hoverLogo
}
.export-to-file .dropdown-menu li a{
color: @hoverLogo !important;
}
// FOOTER //

footer{
        background-color:@bleutourisme !important;
    
 .powered_eLocus{
    color:@blanc !important;
}
}

// Classe pour désaturer//
.desaturate{
    filter: grayscale(40%);
}


