.elocus-chart {
    //font: 12px sans-serif;
}


.bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
}

.bar text {
    fill: #fff;
}

.axis path, .axis line, .zeroaxis {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.zeroaxis line {
    fill-opacity:0;
    stroke-width:0
}

.hiddenaxis.axis path,
.hiddenaxis.axis line
{
    stroke:none;
}

.area {
    fill-opacity:0;
    stroke-width:2;
}

.icon-layer path{
    pointer-events:none;
}

.eventrect {
    fill-opacity:0;
}

.tooltipbg {
    fill: white;
    fill-opacity:0.72;
    stroke : black;
    strocke-with:2;
    stroke-opacity:0.72;


}
.icon-layer * {
  fill: grey !important;
}
