.navigation-map {
    /* font: 12px sans-serif;
    font-stretch: ultra-condensed; */
}

.elocus-geonav {
    fill: #DDD;
    stroke: #555;
    opacity:.75;
}

.elocus-navmap-overlabel {
    opacity:0;
    font-size: 14px;
}

.elocus-geonav:hover,
.elocus-navmap-label:hover {
    cursor:pointer;
}


.overLabelsWrapper {
    border: thin solid #ccc;
    border-radius : 4px;
    background: rgba(255,255,255,0.75);
    .overLabelsWrapperBg {
        fill : #555;
    }
}
